<%--
  This jsp fragment renders the redirect prompt to the full
  CRS site.  

  Required parameters for fragment:
    successURL
      This parameter specifies the URL to redirect the user to on the full CRS site.
    topString
      The string to be displayed in the top row of the redirect prompt.
    bottomString
      The string to be displayed in the bottom row of the redirect prompt.

  Optional parameters:
    specifiedOrder
      the orderId of the order to be displayed on the full CRS site.
--%>

<dsp:page>
  <%-- Set successURL if not set --%>
  <c:if test="${empty successURL}" >
    <c:set var="successURL" value="../index.jsp" />
  </c:if>
  
  <ul class="mobile_store_mobileCRSRedirectTable">
    <li>
        <p>${topString}</p>
    </li>
    <li>
     	<dsp:importbean bean="/atg/dynamo/servlet/dafpipeline/MobileDetectionInterceptor"/>
      <dsp:getvalueof bean="MobileDetectionInterceptor.enableFullSiteParam" var="enableFullSiteParam"/>
      <dsp:a page="${successURL}" class="withArrow">
        <dsp:param name="${enableFullSiteParam}" value="true"/>
        <dsp:param name="orderId" value="${redirectOrderId}"/>
        ${bottomString}
      </dsp:a>
    </li>
  </ul>
</dsp:page>
<%-- @version $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/includes/crsRedirect.jspf#3 $$Change: 692002 $--%>
