.mobile_store_checkout,
.mobile_store_checkoutDefaults {
	width: 95%;
	margin: 15px auto;
	padding: 0;
}

.mobile_store_checkout h2 {
	text-align: center;
	font: 20px Verdana;
	color: #737C0B;
}

.mobile_store_checkout form {
	margin: 0;
	padding: 0;
}

.mobile_store_checkout form div.mobile_store_formActions {
	margin-top: 15px;
	text-align: center;
}

.mobile_store_checkout .mobile_store_checkoutHeader {
	margin-bottom: 10px;
	text-align: center;
}

.mobile_store_checkout .mobile_store_checkoutHeader h2 {
	display: inline;
}

table.mobile_store_mobileTable td.mobile_store_error_state {
	position: relative;
}

table.mobile_store_mobileTable td.mobile_store_error_state span.errorMessage {
	color: #ffffff;
	background-color: #B75A00;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 18px 5px;
}
table.mobile_store_mobileTable tr td > a {
	display: block;
	vertical-align: middle;
	overflow: hidden;
}
table.mobile_store_mobileTable tr td a > div {
	display: inline-block;
}

table.mobile_store_mobileTable tr td a > div.vcard {
	display: block;
}

table.mobile_store_mobileTable tr td a > div.mobile_store_addressName {
	display: block;
}

table.mobile_store_mobileTable tr td a > img {
	display: inline-block;
	margin-top: 1px;
}

td.mobile_store_cardTypeCell.mobile_store_error_state,
td.mobile_store_expireCellValue.mobile_store_error_state {
	padding: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	width: 12.2em !important;
	position: relative;
}
td.mobile_store_expireCell label.hint {
	padding-right: 12px;
}
td.mobile_store_expireCellValue {
	padding-right: 1em;
}
td.mobile_storeCardTitle.mobile_store_error_state,
td.mobile_store_expireCell.mobile_store_error_state {
	border-right: 1px solid #A9ABAD !important;
}
.errorRow,
.errorRow td {
	border-collapse: collapse !important;
	border: 0 !important;
	width: 100%;
	position: relative;
}
.errorRow {
	height: 100%;
}
.errorRow td label {
	white-space: nowrap;
}
.errorRow .errorMessage {
	border-top-right-radius: 1em;
	position: static !important;
	display: block !important;
	height: 100% !important;
}
.mobile_store_mobileTable .errorRow td {
	height: 100%;
}
table.mobile_store_mobileTable td.mobile_store_error_state .errorRow div.content {
	display: block !important;
}

table.mobile_store_mobileTable td.mobile_store_error_state .errorRow div.content::after {
	float: none;
	vertical-align: top;
}

.errorRow .errorMessage.middleErr {
	border-top-right-radius: 0;
}

#mobile_store_paymentInfoAddNewCardForm label.hint {
	color: #999999;
}

#mobile_store_paymentInfoAddNewCardForm input[type=text],
#mobile_store_paymentInfoAddNewCardForm input[type=password] {
	height: 20px;
	color: #000000;
	font: bold 13px Helvetica;
	border-style: none;
	-webkit-appearance: none;
	width: 100%;
}

.lastCell span.errorMessage {
	-webkit-border-top-right-radius: 0.7em;
}

#mobile_store_paymentInfoAddNewCardForm input[type=text]::-webkit-input-placeholder,
#mobile_store_paymentInfoAddNewCardForm input[type=password]::-webkit-input-placeholder {
	font-weight: bold;
}

#mobile_store_paymentInfoAddNewCardForm input[type="radio"] {
	display: none;
}

#mobile_store_paymentInfoAddNewCardForm input[type="radio"] ~ label {
	padding-left: 18px;
}
#mobile_store_paymentInfoAddNewCardForm input[type="radio"]:checked  ~label:before {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -15px -229px; /* icon-check */
	width: 13px;
	height: 13px;
	left: 0;
	position: absolute;
	display: block;
	content: "";
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0px;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable td.mobile_storeCardTitle div.content {
	padding-left: 0;
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable td.mobile_store_error_state > table.errorRow td:first-child {
	padding: 0;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable tr:first-child td:not(.mobile_store_error_state) > table.errorRow td:first-child {
	padding: 0 1em 0 0;
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable col:first-child {
	width: 14%;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable col:nth-child(2) {
	width: 9%;
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable table.errorRow label.hint {
	display: block;
	white-space: normal;
	text-align: center;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable table.errorRow label.hint span.mobile_store_creditCardLastNumbers {
	white-space: nowrap;
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable td.mobile_store_defaultCard div.content {
	padding-left: 0;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable td.mobile_store_billToCell label.hint {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#mobile_store_savedBillingAddresses li#currentBillingAddress * {
	color: #999;
}

#mobile_store_savedBillingAddresses li.mobile_store_address div.vcard {
	margin-top: 0;
	display: inline-block;
}

#mobile_store_savedBillingAddresses li.mobile_store_address div.vcard div.fn {
	font: bold 13px Helvetica;
	color: #000000;
	margin-bottom: 5px;
}

#mobile_store_savedBillingAddresses li.mobile_store_address label {
	display: block;
}

#mobile_store_savedBillingAddresses li.mobile_store_address > div.layout {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}
#mobile_store_savedBillingAddresses li.mobile_store_address > div.layout > div.content {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	margin-right: 28px; /* (29 px for link icon width) + (0.9em image margin [0.9em=11px for our font base]) - (div.content padding 12px) */
}

#mobile_store_savedBillingAddresses li.mobile_store_address.mobile_store_hideSelectedBAMark input[type="radio"] ~ label:before,
#mobile_store_savedBillingAddresses li.mobile_store_address.mobile_store_selectedBillingAddress .mobile_store_storedAddressActions,
#mobile_store_savedBillingAddresses li.mobile_store_address span.mobile_store_storedAddressActions input[type='radio'].editBillingAddress {
	display: none;
}

#mobile_store_savedBillingAddresses li.mobile_store_address input[type="radio"] ~ label:before {
	display: inline-block;
	margin-top: 0;
	vertical-align: top;
}

#mobile_store_savedBillingAddresses li.mobile_store_address > div.layout > span.mobile_store_storedAddressActions {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	float: none;
	height: 29px;
}

#mobile_store_savedBillingAddresses li.mobile_store_address span.mobile_store_highAddress {
	margin-top: -60px;
}

#mobile_store_savedBillingAddresses li.mobile_store_address span.mobile_store_storedAddressActions a:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -32px; /* icon-options */
	height: 29px;
	width: 29px;
	right: 0.9em;
	content: "";
	display: inline-block;
	position: absolute;
}

#mobile_store_savedBillingAddresses li.mobile_store_address span.mobile_store_storedAddressActions input[type='radio'] {
	display: inline-block;
	-webkit-appearance: none;
	height: 29px;
	width: 29px;
	border: none;
	margin: 0;
}

#mobile_store_savedBillingAddresses li.mobile_store_formActions a {
	margin-left: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#mobile_store_savedBillingAddresses.internalBillingAddresses {
	list-style: none outside none;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

.editCreditCard #mobile_store_paymentInfoAddNewCardForm select {
	top: 0 !important;
}

#mobile_store_savedBillingAddresses.internalBillingAddresses li {
	position: relative;
	clear: both;
	min-height: 1px;
}

#mobile_store_savedBillingAddresses.internalBillingAddresses li.mobile_store_shadowedBorder {
	background-image: -webkit-gradient(linear, right bottom, left bottom,
		color-stop(0, #A9ABAD),
		color-stop(0.6, #A9ABAD),
		color-stop(1, white)
	);
}

#mobile_store_savedBillingAddresses li.mobile_store_address div.vcard {
	margin-left: 0;
}

#mobile_store_savedBillingAddresses li.mobile_store_formActions > div.content:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	position: absolute;
	right: 2em;
	top: 50%;
	margin-top: -7px;
	display: block;
	content: "";
}

.vcard {
	margin-top: 5px;
	font: bold 11px Helvetica;
	color: #516691;
}

#mobile_store_creditCardList li div.vcard {
	margin-top: 0;
	display: inline-block;
	width: 87%;
}

#mobile_store_creditCardList.withCheckBoxes li div.vcard {
	width: 90%;
}

#mobile_store_creditCardList li label span.nickname {
	display: none;
}

#mobile_store_creditCardList li label div.vcard {
	margin-top: 0;
}

#mobile_store_creditCardList li label div.vcard div.card_type,
#mobile_store_orderDetailContainer .mobile_store_payment .mobile_store_detail div.vcard div.card_type {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 4px;
	color: black;
}

#mobile_store_orderDetailContainer .mobile_store_detail {
	position: relative;
	cursor: pointer;
}

#mobile_store_orderDetailContainer .mobile_store_detail .withArrow {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0.9em;
	width: 9px;
}

#mobile_store_creditCardList li label div.vcard div.card_type span.cardExpiration {
	white-space: nowrap;
}

#mobile_store_creditCardList li label div.vcard div.card_type span.cardNumber {
	padding-right: 0.5em;
}

#mobile_store_creditCardList li.mobile_store_empty_address a.actionLink {
	margin-top: -13px;
}

#mobile_store_creditCardList li.mobile_store_error_state a.actionLink {
	right: 60px;
}

#mobile_store_creditCardList li.mobile_store_error_state .content {
	position: static;
}

#mobile_store_creditCardList li label {
	display: block;
}

#mobile_store_creditCardList li.mobile_store_formActions a {
	margin-left: 10px;
	margin-top: 2px;
}

#mobile_store_savedAddresses li.mobile_store_address div.vcard {
	margin-top: 0;
	display: inline-block;
	width: 87%;
}

#mobile_store_savedAddresses li.mobile_store_address div.vcard div.fn {
	font: bold 13px Helvetica;
	color: #000000;
	margin-bottom: 5px;
}

#mobile_store_savedAddresses li.mobile_store_address label {
	display: block;
}

#mobile_store_savedAddresses li.mobile_store_address input[type="radio"] ~ label:before {
	display: inline-block;
	vertical-align: top;
}

#mobile_store_savedAddresses li.mobile_store_address span.mobile_store_storedAddressActions {
	position: absolute;
	right: 1em;
	top: 46px;
	z-index: 1;
	float: right;
}

#mobile_store_savedAddresses li.mobile_store_address span.mobile_store_storedAddressActions a {
	font-size: 0;
	display: inline-block;
	height: 29px;
	width: 29px;
}

#mobile_store_savedAddresses li.mobile_store_formActions a {
	margin-left: 18px;
	margin-top: 5px;
}

#mobile_store_shippingMethods li label {
	display: block;
}

#mobile_store_shippingMethods li label span.mobile_store_shippingMethodPrice {
	color: #516691;
}

.mobile_store_blueSubmitButton {
	width: 120px;
	height: 40px;
	font-family: arial, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
	background-color: #0466F1;
	-webkit-appearance: none;
	outline-width: 0;
	border: 0.2em solid rgba(123, 176, 248, 0.8);
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15), 0px 5px 15px #B9C6F8;
	-moz-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0.5)), color-stop(0.5, rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 50%);
}

#mobile_store_createMyAccount,
#mobile_store_createShippingAddress,
#mobile_store_saveShippingAddress,
#mobile_store_loginButton,
#mobile_store_editProfileButton,
#mobile_store_createCreditCard,
#mobile_store_editAddress,
#mobile_store_cartCheckoutButton {
	min-width: 120px;
}

#mobile_store_placeMyOrderButton {
	width: 220px;
}

#mobile_store_removeAddress {
	width: 100%;
	cursor: pointer;
}

#mobile_store_removeAddress:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -96px; /* icon-delete */
	width: 29px;
	height: 29px;
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -15px;
	content: "";
}

div#mobile_store_content span.arrow {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	position: absolute;
	margin-left: 97%;
	margin-top: -7px;
	top: 50%;
	content: "";
	display: block;
}

.clear {
	clear: both;
}

.mobile_store_confirmationEmail .mobile_store_detail {
	position: relative;
}

#mobile_store_checkoutConfirmEmail {
	height: auto;
	margin-left: 0;
}

#mobile_store_checkoutConfirmEmail ~ a img {
	position: absolute;
	right: 0.5em;
	top: 25%;
}


div span.roundedErrorMessage {
  color: #ffffff;
  background-color: #B75A00;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 18px 5px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}



/*
 * CVV Code styles
 */
.mobile_store_cvvCode {
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(72%, #f1f3f6),
		color-stop(89.5%, #d8e1eb),
		color-stop(89.5%, #f1f3f6)
	);
}
.mobile_store_cvvCode > div {
	background: url('/nrsdocroot/content/mobile/images/cvv-bkg-allOthers.jpg') no-repeat;
	background-position: -150px top;
	width: 100%;
	height: 100%;
}
.mobile_store_cvvCode > div.mobile_store_creditCard_typeAmericanExpress {
	background: url('/nrsdocroot/content/mobile/images/cvv-bkg-amex.jpg') no-repeat;
}
#mobile_store_cvvCodeField {
	margin-left: 110px;
	margin-top: 70px;
	width: 70px;
	height: 30px;
	box-shadow: 0 0 8px 8px rgba(50, 100, 255, 0.3);
	border-radius: 13px;
	font: bold 11px Helvetica;
	text-align: center;
	border: 2px solid #A0A0A0;
}
#mobile_store_cvvCodeField::-webkit-input-placeholder {
	color: #516691;
	font: bold 11px Verdana;
	text-align: center;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mobile_store_cvvCode p {
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.0, rgba(255, 255, 255, 0)),
		color-stop(0.4, rgba(241, 243, 246, 0.9)),
		color-stop(1, rgba(241, 243, 246, 1))
	);
	margin-left: 1em;
	margin-top: 0em;
	padding: 1.5em 1em 0.5em 1em;
	text-align: left;
	font: normal 10pt Helvetica;
}
/*
 * END of CVV Code styles
 */
