/* Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/global.css#6 $ $Change: 692002 $ */

/* Bug fix for webkit sibling bug  */
body {-webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from { padding: 0; } to { padding: 0; } }

html, body {
  margin: 0px;
  padding: 0px;
  background: #F1F3F6;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#mobile_store_pageContainer {
  min-height:100%;
}

#mobile_store_container {
  background: #F1F3F6;
  color: #333333;
  position: relative;
  font-family: Verdana;
}

#mobile_store_content {
  min-height: 300px;
}

/*
 * Header
 */
#mobile_store_header, #mobile_store_footer {
  position: relative;
  z-index: 100;
  background: #294353;
}

#mobile_store_header, #mobile_store_footer ul {
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.00, rgba(255, 255, 255, 0.32)),
		color-stop(0.50, rgba(255, 255, 255, 0.00)),
		color-stop(1.00, rgba(255, 255, 255, 0.11))
	);
}

#mobile_store_header {
  padding: 0 1%;
  height: 45px;
}

#mobile_store_header div {
  display: inline-block;
  position: absolute;
  top: 10px;
}

#mobile_store_header div a {
  display: block;
}

#mobile_store_header div#mobile_store_header_profile {
  right: 10px;
}

#mobile_store_header div.dividerBar {
  right: 40px;
  top: 2.5px;
}

#mobile_store_header div#mobile_store_header_cart {
  right: 55px;
}

#mobile_store_header div#mobile_store_header_searchBar {
  -webkit-transition: left 0.5s;
  left: 90px;
}

#mobile_store_header.searchFocus div#mobile_store_header_searchBar {
  left: 10px;
}

#mobile_store_header.searchFocus div#mobile_store_header_searchBar .mobile_store_searchInput {
  width: 180px;
}

#mobile_store_header div#mobile_store_header_logo {
  -webkit-transition: left 0.5s;
}

#mobile_store_header.searchFocus div#mobile_store_header_logo {
  left: -70px;
}

#mobile_store_header div.dividerBar, #mobile_store_footer ul li.dividerBar {
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.00, rgba(255, 255, 255, 0.00)),
		color-stop(0.70, rgba(255, 255, 255, 0.18)),
		color-stop(1.00, rgba(255, 255, 255, 0.00))
	);
	height: 40px;
	width: 1px;
	margin-right: 1%;
	margin-left: 1%;
}

#mobile_store_subheader {
	width: 100%;
	position: relative;
	overflow: hidden;
}

#mobile_store_subheader, 
#mobile_store_subheader > div.hide,
#mobile_store_subheader > div > a, 
#mobile_store_subheader > div > div {
	height: 37px;
	background-color: #294353;
	background-image: -webkit-gradient(linear, left bottom, left top,
		color-stop(0.70, transparent),
		color-stop(1, rgba(0, 0, 0, 0.3))
	);
}

#mobile_store_subheader > div {
	float: left;
	color: white;
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.00, rgba(255, 255, 255, 0.00)),
		color-stop(0.70, rgba(255, 255, 255, 0.18)),
		color-stop(1.00, rgba(255, 255, 255, 0.00))
	);
	position: absolute;
	width: 32%;
	margin-left: 0px;
	top: 0px;
}

#mobile_store_subheader > div:nth-child(2) {
	margin-left: 32%;
}

#mobile_store_subheader > div:last-child {
	margin-left: 64%;
	width: 37%;
}

#mobile_store_subheader > div > a, 
#mobile_store_subheader > div > div {
  display:block;
  position:relative;
  margin-left:1px;
  margin-right:0px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  padding: 0 5% 0 5%;
  font: 10pt Verdana;
  line-height:37px;
  text-align:center;
}

#mobile_store_subheader > div.highlight > a, 
#mobile_store_subheader > div.highlight > div {
	background-image: -webkit-gradient(linear, left bottom, left top,
		color-stop(0.53, #738199),
		color-stop(1, #284067)
	);
}

#mobile_store_cartBadge {
  -webkit-transition: padding 0.1s linear, color 0.5s linear, font-size 0.1s linear;
  font-family: helvetica, verdana, arial, lucida;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  border-radius: 50em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,1), 0 1px 4px rgba(0,0,0,0.7);
  text-shadow: rgba(70, 0, 0, 0.8) 0px 1px 2px;
  background-color: #E35B00;
  position: absolute;
  top: 17px;
  left: 10px;
  color: #FFFFFF;
  margin: 0;
  padding: 0.1em 0.45em;
  display: inline-block;
}

#mobile_store_cartBadge.highlight {
  font-size: 1em;
  padding: 0.2em 0.5em;
}

#mobile_store_cartBadge.textFade {
  color: transparent;
}

/*
 * Header Search Bar
 */
.mobile_store_searchInput {
	-webkit-transition: width 0.5s; /* allows us to animate search bar */
	margin-top: 5px;
	height: 15px;
	width: 100px;
	border-radius: 10px;
	padding-left: 20px;
	background: #FFFFFF url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -0.8px -209px; /* icon-search */
}

.mobile_store_searchInput:focus {
	background: #FFFFFF  url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -189px; /* icon-search-ON */
}

.mobile_store_searchInput::-webkit-input-placeholder {
  color: #999999;
  font: 11px Verdana;
}

/*
 * Contact Info pop-up
 */
#mobile_store_contactInfo {
  position: absolute;
  display: none;
  width: 100%;
  bottom: 11em;
}

#mobile_store_contactInfo ul {
  width: 70%;
  margin: 0 auto;
}

a.contact {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  text-align: center;
}
a.contact > img {
  vertical-align: text-bottom;
}

div#mobile_store_moreInfoContainer div.contact {
  color: #999;
}

/*
 * Footer
 */
#mobile_store_footerWrapper {
  position: relative;
}

#mobile_store_footer {
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font: 12pt Verdana;
  position: relative;
}

#mobile_store_footer ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

#mobile_store_footer ul li {
  display: inline-block;
}

#mobile_store_footer ul li.bold span {
  font-size: 12.5pt;
}

#mobile_store_copyright {
	background-image: -webkit-gradient(linear, center bottom, center top,
		color-stop(1.00, rgba(0, 0, 0, 0.3)),
		color-stop(0.85, rgba(0, 0, 0, 0.0)),
		color-stop(0.00, rgba(0, 0, 0, 0.0))
	);
}

#mobile_store_copyright a {
  position: relative;
  display: block;
  width: 100%;
  padding: 2em 0;
}

#mobile_store_copyright a p {
  color: #999999;
  font-size: 9px;
  width: 75%;
  margin: 0 auto;
}

#mobile_store_copyright a img {
  position: absolute;
  right: 4px;
  top: 40%;
  opacity: 0.4;
  height: 30px;
}

/*
 * Modal overlay
 */
#mobile_store_modalMessageBox {
  position: relative;
  top: 3em;
  z-index: 85;
  width: 80%;
  margin: 0 auto;
  color: white;
  height: 8em;
  line-height: 8em;
  text-align: center;
  -webkit-border-radius: 2em;
}

div#mobile_store_modalOverlay {
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

div#mobile_store_modalOverlay.hidden {
  display: none;
}

div#mobile_store_modalOverlay div.shadow {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
}

div#mobile_store_modalOverlay > *:not(.shadow) {
  z-index: 102;
  display: none; /* Direct children of modalOverlay should be hidden by default */
}

/*
 * CRS redirect popup
 */
.mobile_store_mobileCRSRedirectTable {
  width: 100%;
  border-radius: 1em;
  background: white;
  -webkit-box-shadow: 0px 5px 7px #000000;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile_store_mobileCRSRedirectTable a {
  display: block;
}

.mobile_store_mobileCRSRedirectTable p {
  line-height: 12px;
}

.mobile_store_mobileCRSRedirectTable td, .mobile_store_mobileCRSRedirectTable li {
  font: bold 13px Helvetica;
  padding: 0.5em;
  min-height: 30px;
  line-height: 30px;
  color: #000000;
  background: white;
  text-align: left;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px #CCCCCC;
}

.mobile_store_mobileCRSRedirectTable tr:first-child td, .mobile_store_mobileCRSRedirectTable li:first-child {
  background: #294353;
  text-align: center;
  color: white;
  padding: 0.5em 0.25em 0.5em 0.25em;
  border-top: solid 1px black;
}

.mobile_store_mobileCRSRedirectTable tr:last-child td, .mobile_store_mobileCRSRedirectTable li:last-child {
	border-bottom: solid 1px black;
}

.mobile_store_mobileCRSRedirectTable tr:first-child td:first-child, .mobile_store_mobileCRSRedirectTable li:first-child {
  border-top-left-radius: 10px;
}

.mobile_store_mobileCRSRedirectTable tr:first-child td:last-child, .mobile_store_mobileCRSRedirectTable li:first-child {
  border-top-right-radius: 10px;
}

.mobile_store_mobileCRSRedirectTable tr:last-child td:first-child, .mobile_store_mobileCRSRedirectTable li:last-child {
  border-bottom-left-radius: 10px;
}

 .mobile_store_mobileCRSRedirectTable li:last-child {
  border-bottom-right-radius: 10px;
  position: relative;
}

.mobile_store_mobileCRSRedirectTable tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}


/*
 * Login Styles
 */
.mobile_store_list {
  list-style: none;
  background: #FFFFFF;
  width: 90%;
  margin: 0 auto;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  padding: 0;
}

.mobile_store_list > li {
  margin: 0 auto;
  padding: 1em 0;
  border-top: solid 1px #A9ABAD;
  -webkit-transition: padding 0.1s linear;
}

.mobile_store_list > li.expandable {
  background: #D9DFE8;
  -webkit-box-shadow: inset 0px 4px 7px #B8B6B6;
}

.mobile_store_list > li.hidden {
  max-height: 0;
  padding: 0;
  border: 0;
}

.mobile_store_list > li:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-top: 0px;
}

.mobile_store_list > li:not(.hidden):last-of-type {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.mobile_store_list > li span.parentSpan {
  padding-left: 1em;
  display: block;
}

.mobile_store_list > li.hidden div {
  display: none;
}

.mobile_store_list > li.imageClicked div.arrow {
	-webkit-transform: rotate(180deg);
}

.mobile_store_list > li span.parentSpan span.username {
  padding-left: 1.5em;
  display: inline-block;
}

.mobile_store_list > li span.parentSpan span.title {
  font: bold 13px Helvetica;
  display: inline-block;
}

.mobile_store_list > li span.parentSpan span.rightContentContainer {
  display: inline-block;
  float: right;
  padding-right: 1em;
}

.mobile_store_list > li div.arrow {
	-webkit-transition: -webkit-transform 0.1s linear;
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	right: 1em;
	position: relative;
	display: inline-block;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

a.icon-help {
	position: absolute;
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -128px; /* icon-help */
	width: 29px;
	height: 29px;
	right: 1em;
}

.email-me {
	margin-right: 2.2em !important;
}

a.icon-arrowleft:before {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	content: "";
	display: inline-block;
}

a.icon-arrowRight {
	-webkit-transition: -webkit-transform 0.1s linear;
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 10%;
	top: 50%;
	display: block;
	position: relative;
}

.leftArrow {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 5%;
	top: 50%;
	margin-top: -14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	display: block;
	position: absolute;
}
	
.arrowRight {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 1em;
	display: block;
	position: relative;
}

.downArrow {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 5%;
	top: 50%;
	margin-top: -14px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	display: block;
	position: absolute;
}