/* Landing Page Styles
   Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/home.css#3 $ $Change: 692002 $ */
   
#mobile_store_homeTopSlot {
    height: 13.375em;
    position:relative;
    background: #294353 url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAAAVdEVYdENyZWF0aW9uIFRpbWUAMi8xMS8xMWUwfGEAAAA1SURBVDiN7ZCxDQAgAIPQOHqK/1/mXp/ArRxACCPJQWbaQoAFbFv6rfTa0j7tU5k+9elTnwcehwdv2Pvi8gAAAABJRU5ErkJggg==');
}

.mobile_store_homePromotionalWrap{
  height: 13.375em;
  width: 20em;
  position: relative;
  margin: 0 auto;
}

.mobile_store_homePromotionalImage{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
 }

#mobile_store_circlesContainer{
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 5px;
    z-index: 50;
}

#mobile_store_circlesContainer table{
  width: auto;
  margin: 0 auto;
}
   
#mobile_store_circlesContainer .BLANK {
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0.00, rgba(0,0,0, 0.40)),
        color-stop(1.00, rgba(0,0,0, 0.20)));
    border: 1px solid #FFF;
    float: left;
    height: 8px;
    width: 8px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50em;
    position: relative;
}

#mobile_store_circlesContainer .ON {
    background-color:#FFF;
    border: 1px solid #FFF;
    float: left;
    height: 8px;
    width: 8px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50em;
    position: relative;
}

#mobile_store_homeBottomSlot {
    background-color: #FFF;
    height: 7.5em;
    width: 100%;
    position: relative;
}

#mobile_store_homeBottomSlotContent .cell {
  text-align: center;
  padding-top: 1.375em;
}
   
#mobile_store_homeBottomSlotContent .cellImage {
  height: 50px;
  width: 50px;
}

#mobile_store_homeBottomSlotContent .cellDetails{
  display: none;
}

#mobile_store_homeBottomSlotContent .cell .highlightProduct{
  height: 75px;
  width: 75px;
  margin: -.563em;
}

#mobile_store_homeBottomSlotProductDetails{
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-family: verdana;
  color: #737C0B;
  font-size: 15px;
  text-align: center;
  padding-bottom: .375em;
}

#mobile_store_homeBottomSlotProductDetails span{
  margin: 0 2px 0 2px;
}

#mobile_store_homeBottomSlotProductDetails .listPrice, #mobile_store_homeBottomSlotProductDetails .saleListPrice{
  font-family: helvetica;
  color: #666666;
  font-size: 13px;
}

#mobile_store_homeBottomSlotProductDetails .saleListPrice{
  text-decoration: line-through;
}

#mobile_store_homeBottomSlotProductDetails .salePrice{
  font-family: helvetica;
  color: #B75A00;
  font-size: 14px;
}

.mobile_store_shadowTopDown {
  background-image: -webkit-gradient(linear,left top,left bottom,
      color-stop(0.00, rgba(0,0,0, 0.72)),
      color-stop(1.00, rgba(0,0,0, 0.00)));
  height: 0.375em;
  position:absolute;
  z-index: 50;
  width: 100%;
  left: 0px;
  top: 0px;
}
/* End Landing Page Styles */
