/* @media block
   Necessary for pages to display correctly on iPhone
   Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/iphone.css#3 $ $Change: 692002 $ */

@media (height: 356px){
  #mobile_store_container{
      min-height: 334px;
  }
}

@media (min-height: 357px){
  #mobile_store_container{
      min-height: 334px;
  }
}
/* End @media block */
