/* Shopping Cart Styles */
/* Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/cart.css#5 $ $Change: 692002 $ */

#mobile_store_cartContainer {
  padding: 2em 0;
}
#mobile_store_orderDetailContainer {
  padding-bottom:1em;
}
.mobile_store_confirmDetails {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d8e1eb), to(#f1f3f6));
  background-position: 0 -2.3em;
}
.mobile_store_orderDetails {
  margin-top: 2em;
}

#mobile_store_orderDetailContainer div.mobile_store_confirmControls {
  width:auto;
  text-align:center;
}

.mobile_store_cartItem {
  border-bottom: solid 1px #A9ABAD;
  min-height: 45px;
  overflow: hidden;
  padding: 0.5em 0.5em 0em 0.5em;
  cursor: pointer;
}

.mobile_store_cartItem .image {
  float: left;
}

.mobile_store_cartItem .image img {
  max-height: 40px;
  max-width: 40px;
  margin-right:0.5em;
  border-style: none;
}

.mobile_store_cartItem .price {
  font: 11px Verdana;
  color: #000000;
  text-align: right;  
  line-height: 40px;  
}

.mobile_store_cartItem .priceContent {
  line-height: normal;
  display: inline-block;
}

/* Normal price length */
.mobile_store_cartItem .price span.mobile_store_quantity,
  .mobile_store_cartItem .price span.mobile_store_newPrice {
  font: 14px Verdana;
  color: #737C0B;
}

.mobile_store_cartItem .price span.mobile_store_oldPrice {
  font: 11px Verdana;
  color: #516691;
}

/* Long price length */
.mobile_store_cartItem .price span.longPrice span.mobile_store_quantity,
  .mobile_store_cartItem .price span.longPrice span.mobile_store_newPrice {
  font: 11px Verdana;
  color: #737C0B;
}

.mobile_store_cartItem .price span.longPrice span.mobile_store_oldPrice {
  font: 9px Verdana;
  color: #516691;
}

.mobile_store_cartItem .price span.longPrice span.mobile_store_atRateOf {
  font: 9px Verdana;
}

.mobile_store_cartItem .item {
  float: left;
  text-overflow: ellipsis;
  width:140px;
}

.mobile_store_cartItem .item p.name,
.mobile_store_cartItem .item p.properties {
  text-overflow: ellipsis;
  width:140px;
  overflow:hidden;
  white-space:nowrap;
}

.mobile_store_cartItem .item .name {
  font: 14px Verdana;
  color: #000000;
  margin: 0;
}

.mobile_store_cartItem .item .properties {
  font: 11px Verdana;
  color: #516691;
  margin: 0;
}

.mobile_store_cart, .mobile_store_detail {
  width: 300px;
  margin: 0 auto;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  background-color: #ffffff;
}
.mobile_store_detail .vcard, .mobile_store_shipping .vcard {
  margin-top: 0em;
}
.mobile_store_shipping .vcard div.fn {
  font-weight:bold;
  font-size:12px;
  margin-bottom:4px;
  color:black;
}
.empty_cart {
  padding: 10px 0;
}

.mobile_store_cart > div:first-child,
#mobile_store_cartContent > div:first-child,
#mobile_store_cartContent > div.mobile_store_editCartBox:nth-child(3) > div.cover,
.mobile_store_detail div:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}
#mobile_store_cartContent > div.mobile_store_editCartBox:nth-child(3) > div.image > img {
  border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
}
.mobile_store_detail div.billingAddress {
  margin-top:4px;
}

.mobile_store_detail {
  padding: 1em;
  overflow: hidden;
  width: auto;
}

.mobile_store_payment,
.mobile_store_shipping,
.mobile_store_shipping_method,
.mobile_store_confirmationEmail {
	width: 300px;
	margin: 15px auto;
	padding: 0;
}

.mobile_store_shipping_method span.shipping_method_name {
  color: #000000;
  font: bold 11px Verdana;
  vertical-align: baseline;
  position:relative; top:-2px;
}
.mobile_store_shipping_method span.shipping_method_value {
  color: #516691;
  font: bold 11px Verdana;
  vertical-align: baseline;
  position:relative; top:-2px;
}

.mobile_store_payment h2, 
.mobile_store_shipping h2, 
.mobile_store_shipping_method h2,
.mobile_store_confirmationEmail h2,
#mobile_store_orderDetailContainer > h2 {
	text-align: center;
	font: 20px Verdana;
	color: #737C0B;
}

.mobile_store_orderSummary {
  overflow: hidden;
  padding: 0.5em;
  font: 11px Verdana;
  color: #516691;
}

.mobile_store_orderSummary .mobile_store_orderDiscounts {
  float: left;
  width: 142px;
}

.mobile_store_orderSummary .mobile_store_orderDiscounts .scroll {
  height: 60px;
  overflow: hidden;
}

.mobile_store_orderSummary .mobile_store_orderInfo {
  float: right;
  width: 142px;
}

.mobile_store_orderSummary div.mobile_store_appliedOrderDiscounts {
  margin: 0;
  padding: 0;
  min-height: 50px;
}

.mobile_store_orderSummary div.mobile_store_appliedOrderDiscounts ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.mobile_store_orderSummary div.mobile_store_appliedOrderDiscounts li {
  margin-bottom: 5px;
}

.mobile_store_orderSummary dl {
  overflow: hidden;
  margin: 0;
}

.mobile_store_orderSummary dl.mobile_store_orderSubTotals {
  height: 60px;
}


.mobile_store_orderSummary dl.mobile_store_orderTotal {
  margin-top: 5px;
}

.mobile_store_orderSummary dt {
  clear: left;
  float: left;
  padding-left: 14px;
}

.mobile_store_orderSummary dd {
  float: right;
  margin: 0;
  color: #000000;
}

.mobile_store_orderSummary dt.total {
  padding-top: 3px;
  font: 14px Verdana;
  color: #000000;
}

.mobile_store_orderSummary dd.total {
  font: 17px Verdana;
  color: #B75A00;
}

.mobile_store_orderSummary dt.discount:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
    margin-left: -2.5%;
	position: relative;
	display: inline-block;
	content: "";
	right: 107%;
}

.mobile_store_orderSummary .couponCode {
  text-align: center;
  margin-top: 5px;
}

#mobile_store_promotionCodeInput {
  -webkit-border-radius: 10px;
  border: 1px solid #A9ABAD;
  padding-left: 10px;
  padding-right: 10px;
  width: 90px;
  height: 20px;
  color: #516691;
  font: 11px Helvetica;
  font-weight: bold;
  text-align: center;
}

#mobile_store_promotionCodeInput::-webkit-input-placeholder {
  color: #516691;
  font: bold 11px Verdana;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#mobile_store_promotionCodeInput.error {
  border-width: 2px;
  border-color: #B75A00;
}

.mobile_store_cartCheckout {
  padding: 15px;
  text-align: center;
}

#mobile_store_formValidationError {
  border-bottom: solid 1px #A9ABAD;
  background-color: #B75A00;
  color: #ffffff;
  padding: 0.7em;
  font-size: 9pt;
  line-height: 9pt;
  text-align: center;
}

#mobile_store_applyCoupon {
  display: none;
}

.mobile_store_editCartBox {
  display: none;
  border-bottom: solid 1px #A9ABAD;
  position: relative;
  overflow: hidden;
  height: 60px;
  padding: 0.5em;
}

.mobile_store_editCartBox div.cover {
  background-color: #EBEBCD;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mobile_store_editCartBox p.name {
  font: 16px Verdana;
  color: black;
  margin: 0;
  position: absolute;
}

.mobile_store_editCartBox a.mobile_store_productDetailPageLink {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border: solid 1px #A9ABAD;
  background-color: white;
  font: 11px Verdana;
  color: #516691;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.mobile_store_editCartBox a.mobile_store_productDetailPageLink:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	margin-right: 5px;
	display: inline-block;
	content: "";
}

.mobile_store_editCartBox a.mobile_store_productDetailPageLink span.qty {
  color: #999999;
}

.mobile_store_editCartBox a.mobile_store_moveLink {
    background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -96px; /* icon-delete */
	width: 29px;
	height: 29px;
	text-indent: -999px;
	right: 5px;
	top: 37px;
	overflow: hidden;
	position: absolute;
	content: "";
}

.mobile_store_editCartBox a.mobile_store_shareLink {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -64px; /* icon-emailfriends */
	width: 29px;
	height: 29px;
	text-indent: -999px;
	right: 5px;
	top: 5px;
	content: "";
	overflow: hidden;
	position: absolute;
}

.mobile_store_editCartBox div.image {
  position: absolute;
  top: 0;
  left: 0;
}

.mobile_store_editCartBox div.image img {
  height: 80px;
}

div.mobile_store_moveDialog, div.mobile_store_shareDialog, div.mobile_store_changeDialog {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;

}
div.mobile_store_moveDialog div.shadow, div.mobile_store_shareDialog div.shadow, div.mobile_store_changeDialog div.shadow {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
}

body {
  position: relative;
}

div.mobile_store_moveDialog div.mobile_store_moveItems,
div.mobile_store_shareDialog div.mobile_store_shareItems,
div.mobile_store_changeDialog div.mobile_store_content {
  position: absolute;
  z-index: 102;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul,
div.mobile_store_shareDialog div.mobile_store_shareItems ul,
div.mobile_store_changeDialog div.mobile_store_content ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  border: solid 1px #000000;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  background-color: #ffffff;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul li,
div.mobile_store_shareDialog div.mobile_store_shareItems ul li,
div.mobile_store_changeDialog div.mobile_store_content ul li {
  border-top: solid 1px #A9ABAD;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul li:first-child,
div.mobile_store_shareDialog div.mobile_store_shareItems ul li:first-child,
div.mobile_store_changeDialog div.mobile_store_content ul li:first-child {
  border-top-style: none;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul li a,
div.mobile_store_shareDialog div.mobile_store_shareItems ul li a,
div.mobile_store_changeDialog div.mobile_store_content ul li a {
  display: inline-block;
  padding: 10px 10px;
  font: bold 11px Verdana;
}

div.mobile_store_shareDialog div.mobile_store_shareItems ul li.email a:after,
div.mobile_store_changeDialog div.mobile_store_content ul li.change a:after  {
	margin-left: 15px;
	display: inline-block;
	position: relative;
	top: -7px;
	right: -7px;
	height: 29px;
	margin-bottom: -17px;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul li.remove a:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -96px; /* icon-delete */
	width: 29px;
	height: 29px;
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -15px;
	content: "";
}

div.mobile_store_shareDialog div.mobile_store_shareItems ul li.email a:after {
   background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
   background-position: -3px -64px; /* icon-emailfriends */
   width: 29px;
   height: 29px;
   content:"";
   overflow: hidden;
}

div.mobile_store_changeDialog div.mobile_store_content ul li.change a:after {
  background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
  background-position: -3px -0px; /* icon-overwrite */
  width: 29px;
  height: 29px;
  content: "";
}

#mobile_store_removeItemFromOrder {
  display: none;
}

/* Featured items (empty cart) */
div.mobile_store_featuredItems {
  position: absolute;
  bottom: 0;
  height: 114px;
  width: 100%;
}
#mobile_store_featuredItemsContainer > div.cell > a{
  background-color: white;
  display:block;
}
#mobile_store_featuredItemsContainer {
  background-color: #FFF;
}
.mobile_store_featuredItems p.mobile_store_detailsTitles {
  font: 17px Verdana;
  color: #737C0B;
  background:transparent;
  padding: 0.5em 0 0.5em 1.5em;
  margin: 0;
}
#mobile_store_featuredItemsContainer div a img {
  max-width: 70px;
  max-height: 70px;
}
div.mobile_store_featuredItems div.strip {
  width: 100%;
  height: 8px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.0, rgba(241, 243, 246, 1)),
    color-stop(1, rgba(150, 150, 150, 0.7))
  );
}
/* End of featured items (empty cart) */

/* Shopping Cart Styles */
.mobile_store_checkout,
.mobile_store_checkoutDefaults {
	width: 95%;
	margin: 15px auto;
	padding: 0;
}

.mobile_store_checkout h2 {
	text-align: center;
	font: 20px Verdana;
	color: #737C0B;
}

.mobile_store_checkout form {
	margin: 0;
	padding: 0;
}

.mobile_store_checkout form div.mobile_store_formActions {
	margin-top: 15px;
	text-align: center;
}

.mobile_store_checkout .mobile_store_checkoutHeader {
	margin-bottom: 10px;
	text-align: center;
}

.mobile_store_checkout .mobile_store_checkoutHeader h2 {
	display: inline;
}

table.mobile_store_mobileTable td.mobile_store_error_state {
	position: relative;
}

table.mobile_store_mobileTable td.mobile_store_error_state span.errorMessage {
	color: #ffffff;
	background-color: #B75A00;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 18px 5px;
}
table.mobile_store_mobileTable tr td > a {
	display: block;
	vertical-align: middle;
	overflow: hidden;
}
table.mobile_store_mobileTable tr td a > div {
	display: inline-block;
}

table.mobile_store_mobileTable tr td a > div.vcard {
	display: block;
}

table.mobile_store_mobileTable tr td a > div.mobile_store_addressName {
	display: block;
}

table.mobile_store_mobileTable tr td a > img {
	display: inline-block;
	margin-top: 1px;
}

td.mobile_store_cardTypeCell.mobile_store_error_state,
td.mobile_store_expireCellValue.mobile_store_error_state {
	padding: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	width: 12.2em !important;
	position: relative;
}
td.mobile_store_expireCell label.hint {
	padding-right: 12px;
}
td.mobile_store_expireCellValue {
	padding-right: 1em;
}
td.mobile_storeCardTitle.mobile_store_error_state,
td.mobile_store_expireCell.mobile_store_error_state {
	border-right: 1px solid #A9ABAD !important;
}
.errorRow,
.errorRow td {
	border-collapse: collapse !important;
	border: 0 !important;
	width: 100%;
	position: relative;
}
.errorRow {
	height: 100%;
}
.errorRow td label {
	white-space: nowrap;
}
.errorRow .errorMessage {
	border-top-right-radius: 1em;
	position: static !important;
	display: block !important;
	height: 100% !important;
}
.mobile_store_mobileTable .errorRow td {
	height: 100%;
}
table.mobile_store_mobileTable td.mobile_store_error_state .errorRow div.content {
	display: block !important;
}

table.mobile_store_mobileTable td.mobile_store_error_state .errorRow div.content::after {
	float: none;
	vertical-align: top;
}

.errorRow .errorMessage.middleErr {
	border-top-right-radius: 0;
}

#mobile_store_paymentInfoAddNewCardForm label.hint {
	color: #999999;
}

#mobile_store_paymentInfoAddNewCardForm input[type=text],
#mobile_store_paymentInfoAddNewCardForm input[type=password] {
	height: 20px;
	color: #000000;
	font: bold 13px Helvetica;
	border-style: none;
	-webkit-appearance: none;
	width: 100%;
}

.lastCell span.errorMessage {
	-webkit-border-top-right-radius: 0.7em;
}

#mobile_store_paymentInfoAddNewCardForm input[type=text]::-webkit-input-placeholder,
#mobile_store_paymentInfoAddNewCardForm input[type=password]::-webkit-input-placeholder {
	font-weight: bold;
}

#mobile_store_paymentInfoAddNewCardForm input[type="radio"] {
	display: none;
}

#mobile_store_paymentInfoAddNewCardForm input[type="radio"] ~ label {
	padding-left: 18px;
}
#mobile_store_paymentInfoAddNewCardForm input[type="radio"]:checked  ~label:before {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -15px -229px; /* icon-check */
	width: 13px;
	height: 13px;
	left: 0;
	position: absolute;
	display: block;
	content: "";
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0px;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable td.mobile_storeCardTitle div.content {
	padding-left: 0;
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable td.mobile_store_error_state > table.errorRow td:first-child {
	padding: 0;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable tr:first-child td:not(.mobile_store_error_state) > table.errorRow td:first-child {
	padding: 0 1em 0 0;
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable col:first-child {
	width: 14%;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable col:nth-child(2) {
	width: 9%;
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable table.errorRow label.hint {
	display: block;
	white-space: normal;
	text-align: center;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable table.errorRow label.hint span.mobile_store_creditCardLastNumbers {
	white-space: nowrap;
}

#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable td.mobile_store_defaultCard div.content {
	padding-left: 0;
}
#mobile_store_paymentInfoAddNewCardForm > table.mobile_store_mobileTable td.mobile_store_billToCell label.hint {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#mobile_store_savedBillingAddresses li#currentBillingAddress * {
	color: #999;
}

#mobile_store_savedBillingAddresses li.mobile_store_address div.vcard {
	margin-top: 0;
	display: inline-block;
}

#mobile_store_savedBillingAddresses li.mobile_store_address div.vcard div.fn {
	font: bold 13px Helvetica;
	color: #000000;
	margin-bottom: 5px;
}

#mobile_store_savedBillingAddresses li.mobile_store_address label {
	display: block;
}

#mobile_store_savedBillingAddresses li.mobile_store_address > div.layout {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}
#mobile_store_savedBillingAddresses li.mobile_store_address > div.layout > div.content {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	margin-right: 28px; /* (29 px for link icon width) + (0.9em image margin [0.9em=11px for our font base]) - (div.content padding 12px) */
}

#mobile_store_savedBillingAddresses li.mobile_store_address.mobile_store_hideSelectedBAMark input[type="radio"] ~ label:before,
#mobile_store_savedBillingAddresses li.mobile_store_address.mobile_store_selectedBillingAddress .mobile_store_storedAddressActions,
#mobile_store_savedBillingAddresses li.mobile_store_address span.mobile_store_storedAddressActions input[type='radio'].editBillingAddress {
	display: none;
}

#mobile_store_savedBillingAddresses li.mobile_store_address input[type="radio"] ~ label:before {
	display: inline-block;
	margin-top: 0;
	vertical-align: top;
}

#mobile_store_savedBillingAddresses li.mobile_store_address > div.layout > span.mobile_store_storedAddressActions {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	float: none;
	height: 29px;
}

#mobile_store_savedBillingAddresses li.mobile_store_address span.mobile_store_highAddress {
	margin-top: -60px;
}

#mobile_store_savedBillingAddresses li.mobile_store_address span.mobile_store_storedAddressActions a:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -32px; /* icon-options */
	height: 29px;
	width: 29px;
	right: 0.9em;
	content: "";
	display: inline-block;
	position: absolute;
}

#mobile_store_savedBillingAddresses li.mobile_store_address span.mobile_store_storedAddressActions input[type='radio'] {
	display: inline-block;
	-webkit-appearance: none;
	height: 29px;
	width: 29px;
	border: none;
	margin: 0;
}

#mobile_store_savedBillingAddresses li.mobile_store_formActions a {
	margin-left: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#mobile_store_savedBillingAddresses.internalBillingAddresses {
	list-style: none outside none;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

.editCreditCard #mobile_store_paymentInfoAddNewCardForm select {
	top: 0 !important;
}

#mobile_store_savedBillingAddresses.internalBillingAddresses li {
	position: relative;
	clear: both;
	min-height: 1px;
}

#mobile_store_savedBillingAddresses.internalBillingAddresses li.mobile_store_shadowedBorder {
	background-image: -webkit-gradient(linear, right bottom, left bottom,
		color-stop(0, #A9ABAD),
		color-stop(0.6, #A9ABAD),
		color-stop(1, white)
	);
}

#mobile_store_savedBillingAddresses li.mobile_store_address div.vcard {
	margin-left: 0;
}

#mobile_store_savedBillingAddresses li.mobile_store_formActions > div.content:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	position: absolute;
	right: 2em;
	top: 50%;
	margin-top: -7px;
	display: block;
	content: "";
}

.vcard {
	margin-top: 5px;
	font: bold 11px Helvetica;
	color: #516691;
}

#mobile_store_creditCardList li div.vcard {
	margin-top: 0;
	display: inline-block;
	width: 87%;
}

#mobile_store_creditCardList.withCheckBoxes li div.vcard {
	width: 90%;
}

#mobile_store_creditCardList li label span.nickname {
	display: none;
}

#mobile_store_creditCardList li label div.vcard {
	margin-top: 0;
}

#mobile_store_creditCardList li label div.vcard div.card_type,
#mobile_store_orderDetailContainer .mobile_store_payment .mobile_store_detail div.vcard div.card_type {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 4px;
	color: black;
}

#mobile_store_orderDetailContainer .mobile_store_detail {
	position: relative;
	cursor: pointer;
}

#mobile_store_orderDetailContainer .mobile_store_detail .withArrow {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0.9em;
	width: 9px;
}

#mobile_store_creditCardList li label div.vcard div.card_type span.cardExpiration {
	white-space: nowrap;
}

#mobile_store_creditCardList li label div.vcard div.card_type span.cardNumber {
	padding-right: 0.5em;
}

#mobile_store_creditCardList li.mobile_store_empty_address a.actionLink {
	margin-top: -13px;
}

#mobile_store_creditCardList li.mobile_store_error_state a.actionLink {
	right: 60px;
}

#mobile_store_creditCardList li.mobile_store_error_state .content {
	position: static;
}

#mobile_store_creditCardList li label {
	display: block;
}

#mobile_store_creditCardList li.mobile_store_formActions a {
	margin-left: 10px;
	margin-top: 2px;
}

#mobile_store_savedAddresses li.mobile_store_address div.vcard {
	margin-top: 0;
	display: inline-block;
	width: 87%;
}

#mobile_store_savedAddresses li.mobile_store_address div.vcard div.fn {
	font: bold 13px Helvetica;
	color: #000000;
	margin-bottom: 5px;
}

#mobile_store_savedAddresses li.mobile_store_address label {
	display: block;
}

#mobile_store_savedAddresses li.mobile_store_address input[type="radio"] ~ label:before {
	display: inline-block;
	vertical-align: top;
}

#mobile_store_savedAddresses li.mobile_store_address span.mobile_store_storedAddressActions {
	position: absolute;
	right: 1em;
	top: 46px;
	z-index: 1;
	float: right;
}

#mobile_store_savedAddresses li.mobile_store_address span.mobile_store_storedAddressActions a {
	font-size: 0;
	display: inline-block;
	height: 29px;
	width: 29px;
}

#mobile_store_savedAddresses li.mobile_store_formActions a {
	margin-left: 18px;
	margin-top: 5px;
}

#mobile_store_shippingMethods li label {
	display: block;
}

#mobile_store_shippingMethods li label span.mobile_store_shippingMethodPrice {
	color: #516691;
}

.mobile_store_blueSubmitButton {
	width: 120px;
	height: 40px;
	font-family: arial, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
	background-color: #0466F1;
	-webkit-appearance: none;
	outline-width: 0;
	border: 0.2em solid rgba(123, 176, 248, 0.8);
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15), 0px 5px 15px #B9C6F8;
	-moz-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0.5)), color-stop(0.5, rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 50%);
}

#mobile_store_createMyAccount,
#mobile_store_createShippingAddress,
#mobile_store_saveShippingAddress,
#mobile_store_loginButton,
#mobile_store_editProfileButton,
#mobile_store_createCreditCard,
#mobile_store_editAddress,
#mobile_store_cartCheckoutButton {
	min-width: 120px;
}

#mobile_store_placeMyOrderButton {
	width: 220px;
}

#mobile_store_removeAddress {
	width: 100%;
	cursor: pointer;
}

#mobile_store_removeAddress:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -96px; /* icon-delete */
	width: 29px;
	height: 29px;
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -15px;
	content: "";
}

div#mobile_store_content span.arrow {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	position: absolute;
	margin-left: 97%;
	margin-top: -7px;
	top: 50%;
	content: "";
	display: block;
}

.clear {
	clear: both;
}

.mobile_store_confirmationEmail .mobile_store_detail {
	position: relative;
}

#mobile_store_checkoutConfirmEmail {
	height: auto;
	margin-left: 0;
}

#mobile_store_checkoutConfirmEmail ~ a img {
	position: absolute;
	right: 0.5em;
	top: 25%;
}


div span.roundedErrorMessage {
  color: #ffffff;
  background-color: #B75A00;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 18px 5px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}



/*
 * CVV Code styles
 */
.mobile_store_cvvCode {
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(72%, #f1f3f6),
		color-stop(89.5%, #d8e1eb),
		color-stop(89.5%, #f1f3f6)
	);
}
.mobile_store_cvvCode > div {
	background: url('/nrsdocroot/content/mobile/images/cvv-bkg-allOthers.jpg') no-repeat;
	background-position: -150px top;
	width: 100%;
	height: 100%;
}
.mobile_store_cvvCode > div.mobile_store_creditCard_typeAmericanExpress {
	background: url('/nrsdocroot/content/mobile/images/cvv-bkg-amex.jpg') no-repeat;
}
#mobile_store_cvvCodeField {
	margin-left: 110px;
	margin-top: 70px;
	width: 70px;
	height: 30px;
	box-shadow: 0 0 8px 8px rgba(50, 100, 255, 0.3);
	border-radius: 13px;
	font: bold 11px Helvetica;
	text-align: center;
	border: 2px solid #A0A0A0;
}
#mobile_store_cvvCodeField::-webkit-input-placeholder {
	color: #516691;
	font: bold 11px Verdana;
	text-align: center;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mobile_store_cvvCode p {
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.0, rgba(255, 255, 255, 0)),
		color-stop(0.4, rgba(241, 243, 246, 0.9)),
		color-stop(1, rgba(241, 243, 246, 1))
	);
	margin-left: 1em;
	margin-top: 0em;
	padding: 1.5em 1em 0.5em 1em;
	text-align: left;
	font: normal 10pt Helvetica;
}
/*
 * END of CVV Code styles
 */
/* Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/global.css#6 $ $Change: 692002 $ */

/* Bug fix for webkit sibling bug  */
body {-webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from { padding: 0; } to { padding: 0; } }

html, body {
  margin: 0px;
  padding: 0px;
  background: #F1F3F6;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#mobile_store_pageContainer {
  min-height:100%;
}

#mobile_store_container {
  background: #F1F3F6;
  color: #333333;
  position: relative;
  font-family: Verdana;
}

#mobile_store_content {
  min-height: 300px;
}

/*
 * Header
 */
#mobile_store_header, #mobile_store_footer {
  position: relative;
  z-index: 100;
  background: #294353;
}

#mobile_store_header, #mobile_store_footer ul {
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.00, rgba(255, 255, 255, 0.32)),
		color-stop(0.50, rgba(255, 255, 255, 0.00)),
		color-stop(1.00, rgba(255, 255, 255, 0.11))
	);
}

#mobile_store_header {
  padding: 0 1%;
  height: 45px;
}

#mobile_store_header div {
  display: inline-block;
  position: absolute;
  top: 10px;
}

#mobile_store_header div a {
  display: block;
}

#mobile_store_header div#mobile_store_header_profile {
  right: 10px;
}

#mobile_store_header div.dividerBar {
  right: 40px;
  top: 2.5px;
}

#mobile_store_header div#mobile_store_header_cart {
  right: 55px;
}

#mobile_store_header div#mobile_store_header_searchBar {
  -webkit-transition: left 0.5s;
  left: 90px;
}

#mobile_store_header.searchFocus div#mobile_store_header_searchBar {
  left: 10px;
}

#mobile_store_header.searchFocus div#mobile_store_header_searchBar .mobile_store_searchInput {
  width: 180px;
}

#mobile_store_header div#mobile_store_header_logo {
  -webkit-transition: left 0.5s;
}

#mobile_store_header.searchFocus div#mobile_store_header_logo {
  left: -70px;
}

#mobile_store_header div.dividerBar, #mobile_store_footer ul li.dividerBar {
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.00, rgba(255, 255, 255, 0.00)),
		color-stop(0.70, rgba(255, 255, 255, 0.18)),
		color-stop(1.00, rgba(255, 255, 255, 0.00))
	);
	height: 40px;
	width: 1px;
	margin-right: 1%;
	margin-left: 1%;
}

#mobile_store_subheader {
	width: 100%;
	position: relative;
	overflow: hidden;
}

#mobile_store_subheader, 
#mobile_store_subheader > div.hide,
#mobile_store_subheader > div > a, 
#mobile_store_subheader > div > div {
	height: 37px;
	background-color: #294353;
	background-image: -webkit-gradient(linear, left bottom, left top,
		color-stop(0.70, transparent),
		color-stop(1, rgba(0, 0, 0, 0.3))
	);
}

#mobile_store_subheader > div {
	float: left;
	color: white;
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.00, rgba(255, 255, 255, 0.00)),
		color-stop(0.70, rgba(255, 255, 255, 0.18)),
		color-stop(1.00, rgba(255, 255, 255, 0.00))
	);
	position: absolute;
	width: 32%;
	margin-left: 0px;
	top: 0px;
}

#mobile_store_subheader > div:nth-child(2) {
	margin-left: 32%;
}

#mobile_store_subheader > div:last-child {
	margin-left: 64%;
	width: 37%;
}

#mobile_store_subheader > div > a, 
#mobile_store_subheader > div > div {
  display:block;
  position:relative;
  margin-left:1px;
  margin-right:0px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  padding: 0 5% 0 5%;
  font: 10pt Verdana;
  line-height:37px;
  text-align:center;
}

#mobile_store_subheader > div.highlight > a, 
#mobile_store_subheader > div.highlight > div {
	background-image: -webkit-gradient(linear, left bottom, left top,
		color-stop(0.53, #738199),
		color-stop(1, #284067)
	);
}

#mobile_store_cartBadge {
  -webkit-transition: padding 0.1s linear, color 0.5s linear, font-size 0.1s linear;
  font-family: helvetica, verdana, arial, lucida;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  border-radius: 50em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,1), 0 1px 4px rgba(0,0,0,0.7);
  text-shadow: rgba(70, 0, 0, 0.8) 0px 1px 2px;
  background-color: #E35B00;
  position: absolute;
  top: 17px;
  left: 10px;
  color: #FFFFFF;
  margin: 0;
  padding: 0.1em 0.45em;
  display: inline-block;
}

#mobile_store_cartBadge.highlight {
  font-size: 1em;
  padding: 0.2em 0.5em;
}

#mobile_store_cartBadge.textFade {
  color: transparent;
}

/*
 * Header Search Bar
 */
.mobile_store_searchInput {
	-webkit-transition: width 0.5s; /* allows us to animate search bar */
	margin-top: 5px;
	height: 15px;
	width: 100px;
	border-radius: 10px;
	padding-left: 20px;
	background: #FFFFFF url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -0.8px -209px; /* icon-search */
}

.mobile_store_searchInput:focus {
	background: #FFFFFF  url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -189px; /* icon-search-ON */
}

.mobile_store_searchInput::-webkit-input-placeholder {
  color: #999999;
  font: 11px Verdana;
}

/*
 * Contact Info pop-up
 */
#mobile_store_contactInfo {
  position: absolute;
  display: none;
  width: 100%;
  bottom: 11em;
}

#mobile_store_contactInfo ul {
  width: 70%;
  margin: 0 auto;
}

a.contact {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  text-align: center;
}
a.contact > img {
  vertical-align: text-bottom;
}

div#mobile_store_moreInfoContainer div.contact {
  color: #999;
}

/*
 * Footer
 */
#mobile_store_footerWrapper {
  position: relative;
}

#mobile_store_footer {
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font: 12pt Verdana;
  position: relative;
}

#mobile_store_footer ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

#mobile_store_footer ul li {
  display: inline-block;
}

#mobile_store_footer ul li.bold span {
  font-size: 12.5pt;
}

#mobile_store_copyright {
	background-image: -webkit-gradient(linear, center bottom, center top,
		color-stop(1.00, rgba(0, 0, 0, 0.3)),
		color-stop(0.85, rgba(0, 0, 0, 0.0)),
		color-stop(0.00, rgba(0, 0, 0, 0.0))
	);
}

#mobile_store_copyright a {
  position: relative;
  display: block;
  width: 100%;
  padding: 2em 0;
}

#mobile_store_copyright a p {
  color: #999999;
  font-size: 9px;
  width: 75%;
  margin: 0 auto;
}

#mobile_store_copyright a img {
  position: absolute;
  right: 4px;
  top: 40%;
  opacity: 0.4;
  height: 30px;
}

/*
 * Modal overlay
 */
#mobile_store_modalMessageBox {
  position: relative;
  top: 3em;
  z-index: 85;
  width: 80%;
  margin: 0 auto;
  color: white;
  height: 8em;
  line-height: 8em;
  text-align: center;
  -webkit-border-radius: 2em;
}

div#mobile_store_modalOverlay {
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

div#mobile_store_modalOverlay.hidden {
  display: none;
}

div#mobile_store_modalOverlay div.shadow {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
}

div#mobile_store_modalOverlay > *:not(.shadow) {
  z-index: 102;
  display: none; /* Direct children of modalOverlay should be hidden by default */
}

/*
 * CRS redirect popup
 */
.mobile_store_mobileCRSRedirectTable {
  width: 100%;
  border-radius: 1em;
  background: white;
  -webkit-box-shadow: 0px 5px 7px #000000;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile_store_mobileCRSRedirectTable a {
  display: block;
}

.mobile_store_mobileCRSRedirectTable p {
  line-height: 12px;
}

.mobile_store_mobileCRSRedirectTable td, .mobile_store_mobileCRSRedirectTable li {
  font: bold 13px Helvetica;
  padding: 0.5em;
  min-height: 30px;
  line-height: 30px;
  color: #000000;
  background: white;
  text-align: left;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px #CCCCCC;
}

.mobile_store_mobileCRSRedirectTable tr:first-child td, .mobile_store_mobileCRSRedirectTable li:first-child {
  background: #294353;
  text-align: center;
  color: white;
  padding: 0.5em 0.25em 0.5em 0.25em;
  border-top: solid 1px black;
}

.mobile_store_mobileCRSRedirectTable tr:last-child td, .mobile_store_mobileCRSRedirectTable li:last-child {
	border-bottom: solid 1px black;
}

.mobile_store_mobileCRSRedirectTable tr:first-child td:first-child, .mobile_store_mobileCRSRedirectTable li:first-child {
  border-top-left-radius: 10px;
}

.mobile_store_mobileCRSRedirectTable tr:first-child td:last-child, .mobile_store_mobileCRSRedirectTable li:first-child {
  border-top-right-radius: 10px;
}

.mobile_store_mobileCRSRedirectTable tr:last-child td:first-child, .mobile_store_mobileCRSRedirectTable li:last-child {
  border-bottom-left-radius: 10px;
}

 .mobile_store_mobileCRSRedirectTable li:last-child {
  border-bottom-right-radius: 10px;
  position: relative;
}

.mobile_store_mobileCRSRedirectTable tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}


/*
 * Login Styles
 */
.mobile_store_list {
  list-style: none;
  background: #FFFFFF;
  width: 90%;
  margin: 0 auto;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  padding: 0;
}

.mobile_store_list > li {
  margin: 0 auto;
  padding: 1em 0;
  border-top: solid 1px #A9ABAD;
  -webkit-transition: padding 0.1s linear;
}

.mobile_store_list > li.expandable {
  background: #D9DFE8;
  -webkit-box-shadow: inset 0px 4px 7px #B8B6B6;
}

.mobile_store_list > li.hidden {
  max-height: 0;
  padding: 0;
  border: 0;
}

.mobile_store_list > li:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-top: 0px;
}

.mobile_store_list > li:not(.hidden):last-of-type {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.mobile_store_list > li span.parentSpan {
  padding-left: 1em;
  display: block;
}

.mobile_store_list > li.hidden div {
  display: none;
}

.mobile_store_list > li.imageClicked div.arrow {
	-webkit-transform: rotate(180deg);
}

.mobile_store_list > li span.parentSpan span.username {
  padding-left: 1.5em;
  display: inline-block;
}

.mobile_store_list > li span.parentSpan span.title {
  font: bold 13px Helvetica;
  display: inline-block;
}

.mobile_store_list > li span.parentSpan span.rightContentContainer {
  display: inline-block;
  float: right;
  padding-right: 1em;
}

.mobile_store_list > li div.arrow {
	-webkit-transition: -webkit-transform 0.1s linear;
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	right: 1em;
	position: relative;
	display: inline-block;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

a.icon-help {
	position: absolute;
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -128px; /* icon-help */
	width: 29px;
	height: 29px;
	right: 1em;
}

.email-me {
	margin-right: 2.2em !important;
}

a.icon-arrowleft:before {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	content: "";
	display: inline-block;
}

a.icon-arrowRight {
	-webkit-transition: -webkit-transform 0.1s linear;
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 10%;
	top: 50%;
	display: block;
	position: relative;
}

.leftArrow {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 5%;
	top: 50%;
	margin-top: -14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	display: block;
	position: absolute;
}
	
.arrowRight {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 1em;
	display: block;
	position: relative;
}

.downArrow {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 5%;
	top: 50%;
	margin-top: -14px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	display: block;
	position: absolute;
}/* Landing Page Styles
   Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/home.css#3 $ $Change: 692002 $ */
   
#mobile_store_homeTopSlot {
    height: 13.375em;
    position:relative;
    background: #294353 url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAAAVdEVYdENyZWF0aW9uIFRpbWUAMi8xMS8xMWUwfGEAAAA1SURBVDiN7ZCxDQAgAIPQOHqK/1/mXp/ArRxACCPJQWbaQoAFbFv6rfTa0j7tU5k+9elTnwcehwdv2Pvi8gAAAABJRU5ErkJggg==');
}

.mobile_store_homePromotionalWrap{
  height: 13.375em;
  width: 20em;
  position: relative;
  margin: 0 auto;
}

.mobile_store_homePromotionalImage{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
 }

#mobile_store_circlesContainer{
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 5px;
    z-index: 50;
}

#mobile_store_circlesContainer table{
  width: auto;
  margin: 0 auto;
}
   
#mobile_store_circlesContainer .BLANK {
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0.00, rgba(0,0,0, 0.40)),
        color-stop(1.00, rgba(0,0,0, 0.20)));
    border: 1px solid #FFF;
    float: left;
    height: 8px;
    width: 8px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50em;
    position: relative;
}

#mobile_store_circlesContainer .ON {
    background-color:#FFF;
    border: 1px solid #FFF;
    float: left;
    height: 8px;
    width: 8px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50em;
    position: relative;
}

#mobile_store_homeBottomSlot {
    background-color: #FFF;
    height: 7.5em;
    width: 100%;
    position: relative;
}

#mobile_store_homeBottomSlotContent .cell {
  text-align: center;
  padding-top: 1.375em;
}
   
#mobile_store_homeBottomSlotContent .cellImage {
  height: 50px;
  width: 50px;
}

#mobile_store_homeBottomSlotContent .cellDetails{
  display: none;
}

#mobile_store_homeBottomSlotContent .cell .highlightProduct{
  height: 75px;
  width: 75px;
  margin: -.563em;
}

#mobile_store_homeBottomSlotProductDetails{
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-family: verdana;
  color: #737C0B;
  font-size: 15px;
  text-align: center;
  padding-bottom: .375em;
}

#mobile_store_homeBottomSlotProductDetails span{
  margin: 0 2px 0 2px;
}

#mobile_store_homeBottomSlotProductDetails .listPrice, #mobile_store_homeBottomSlotProductDetails .saleListPrice{
  font-family: helvetica;
  color: #666666;
  font-size: 13px;
}

#mobile_store_homeBottomSlotProductDetails .saleListPrice{
  text-decoration: line-through;
}

#mobile_store_homeBottomSlotProductDetails .salePrice{
  font-family: helvetica;
  color: #B75A00;
  font-size: 14px;
}

.mobile_store_shadowTopDown {
  background-image: -webkit-gradient(linear,left top,left bottom,
      color-stop(0.00, rgba(0,0,0, 0.72)),
      color-stop(1.00, rgba(0,0,0, 0.00)));
  height: 0.375em;
  position:absolute;
  z-index: 50;
  width: 100%;
  left: 0px;
  top: 0px;
}
/* End Landing Page Styles */
/* @media block
   Necessary for pages to display correctly on iPhone
   Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/iphone.css#3 $ $Change: 692002 $ */

@media (height: 356px){
  #mobile_store_container{
      min-height: 334px;
  }
}

@media (min-height: 357px){
  #mobile_store_container{
      min-height: 334px;
  }
}
/* End @media block */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
/* "More Info" Styles
   Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/moreinfo.css#3 $ $Change: 692002 $ */
.mobile_store_infoHeader{
  font: 20px Verdana;
  color: #737C0B;
  text-align: center;
  background-color: #F1F3F6;
  padding: 0.3em 0 0.3em 0;
  background-image: -webkit-gradient(linear, center bottom, center top, from(rgba(0,0,0,0.15)), color-stop(30%, transparent), to(transparent));
}

.mobile_store_infoContent{
  background: #FFFFFF;
  padding: 0.2em 0.2em 2.5em 0.2em;
  border-top: solid 1px #A9ABAD;
  border-bottom: solid 1px #A9ABAD;
}

.mobile_store_infoContent p{
  padding: 0 5px;
  text-align: left;
  margin-top: 3px;
}

.mobile_store_infoContent h3,h4{
  color: #FF9900;
  padding-left: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#mobile_store_locations{
  list-style: none;
  background: #FFFFFF;
  width: 90%;
  margin: 1em auto 1em auto;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  padding: 0;
}

#mobile_store_locations li:not(:first-child) {
  border-top: solid 1px #A9ABAD;
}

#mobile_store_locations li{
  padding: 0;
  position: relative;
}

#mobile_store_locations img {
  -webkit-transition: -webkit-transform 0.1s linear;
  -webkit-transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  width:8px;
  height:13px;
  margin-top: -6px;
  right: 1em;
}

#mobile_store_locations img.clicked{
  -webkit-transform: rotate(90deg);
}

#mobile_store_locations li p{
  font: bold 11px Helvetica;
  color: #516691;
  margin: 0.5em 0;
  max-width: 70%;
  padding: 0 0 0 1em;
}

#mobile_store_locations li p.storeName{
  font: bold 13px Helvetica;
  color: #000000;
  padding: 0 0 0 0.8em;
}

#mobile_store_locations li a{
  display: block;
  padding-bottom: 0.5em;
}

#mobile_store_locations li div > div{
  -webkit-transition: padding 0.1s linear;
  padding: 0 0 1em 1em;
  overflow: hidden;
  background-image: -webkit-gradient(linear,center bottom,center top,
    color-stop(0.00, rgba(41,67,83, 0.25)),
    color-stop(0.20, rgba(41,67,83, 0.10)),
    color-stop(0.50, rgba(41,67,83, 0.00)),
    color-stop(1.00, rgba(41,67,83, 0.00)));
}

#mobile_store_locations li:last-child div{
  border-radius: 1em;
}

#mobile_store_locations li > div {
  display: none;
}

#mobile_store_locations li div > div.hidden{
  padding: 0 0 0 2em;
  max-height: 0px;
}

#mobile_store_locations li div > div a{
  display: inline-block;
  padding: 0 1em 0 1em;
  border: solid 1px #A9ABAD;
  border-radius: 2em;
  font: bold 11px Helvetica;
  color: #516691;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  background-color: #FFFFFF;
  width: 3.7em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mobile_store_languages td input[type='radio']{
  display: none;
}

#mobile_store_languages td label img{
  padding-right: 0.5em;
  float: left;
  visibility: hidden;
}

#mobile_store_languages td label{
  width: 100%;
  display: block;
}

#mobile_store_languages td input[type='radio']:checked ~ label img{
  visibility: visible;
}

#mobile_store_currentLanguage{
  float: right;
  font: bold Helvetica;
  color: #516691;
  padding-right: 3em;
}

.triple-row {
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

ul.mobile_store_mobileList li ul.triple-row li {
	list-style:none;
	overflow:hidden;
	margin:0;
	padding:0;
	border:0;
	border-left: 1px solid #A9ABAD;
	float:left;
	-webkit-border-radius:0;
	width:33%;
	clear:none !important;
}

ul.mobile_store_mobileList li ul.triple-row li a {
	width:100%;
}
/* End "More Info" styles */
/* MyAccount Styles */

<%-- @version $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/myaccount.css#5 $$Change: 692002 $ --%>
<%-- @updated $DateTime: 2012/03/07 18:24:16 $$Author: jsiddaga $ --%>

.mobile_store_formFieldTextBlack{
	font: bold 11px Helvetica;
	color: #000000;
}

.mobile_store_formFieldMajorText{
	font: bold 13px Helvetica;
	height: 45px;
	color: #516691
}

.mobile_store_myaccount_button {
	margin-top: 15px;
	text-align: center;
  color: #FFFFFF;
}

.mobile_store_myaccount_questionImage {
	float: right;
  border: none;
  padding-right: .5em;
  display: block;
}

.mobile_store_myaccount_questionImage img {
	vertical-align:middle;
}

/**
* Question mark (password rule/privacy) on the Sign Up page styles
*/
#mobile_store_newCustomerLogin .mobile_store_register {
  position: relative;
}

#mobile_store_newCustomerLogin .mobile_store_register .mobile_store_myaccount_questionImage {
  position:absolute;
  top:38px;
  right:-2px;
  z-index:1
}
/**
* End of the question mark (password rule/privacy) on the Sign Up page styles
*/

.mobile_store_myaccount_hint {
  margin-left: 1.25em;
	color: #999999;
}

li#mobile_store_myaccountLogout {
  padding-top: 0;
  padding-bottom: 0;
}

li#mobile_store_myaccountLogout ul {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

li#mobile_store_myaccountLogout ul li {
  display: block;
  float: left;
  height: 100%;
  clear:none;
  border:0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

li#mobile_store_myaccountLogout ul li:first-child {
  border-right: solid 1px #A9ABAD;
  width: 30%;
  padding-left:1em;
}

li#mobile_store_myaccountLogout ul li:nth-child(2) {
  padding-left: 1em;
  width: 60%;
}

li#mobile_store_myaccountLogout ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}

.profile.mobile_store_mobileList li {
	overflow:hidden;
}
.profile.mobile_store_mobileList li a {
	display:block;
}

#mobile_store_editGender {
  width: 100%;
  text-align: left;
}

.mobile_store_rightTitledButton {
  float: right;
}

.mobile_store_myaccount_selectValue {  
  color: #000000;
}

.mobile_store_myaccount_personalCheckBox {
  display: block;
}

.mobile_store_myaccount_personalCheckBox img {
  visibility: hidden; 
}

.mobile_store_myaccount_accountEditGrad {
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(72%, #f1f3f6),
		color-stop(89.5%, #d8e1eb),
		color-stop(89.5%, #f1f3f6)
  );
}

.mobile_store_forgotPassLogin {
  height: inherit;
  line-height: inherit;
  width: 70%;
  -webkit-appearance: none;
  margin-left: -2em;
}

.myaccount_header {
	height: 1.25em;
	width: 100%;
	background-color: #284064;
	font: 12pt Verdana;
	color: #F1F3F6;
	overflow: auto;
	text-align: center;
	padding-top: .25em;
	padding-bottom: .25em;
}

.myaccount_header ul {
	display: inline;
	list-style: none;
	padding: 0;
}


.myaccount_header ul li {
	display: inline-block;
}

#mobile_store_passwordResetIntro {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font: 13px Helvetica;
}

#mobile_store_passwordResetSubmit {
  width: 100px;
  height: 40px;
  font-family: arial, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px -1px 0px rgba( 0, 0, 0, 0.5 );
  background-color: #0466F1;
  -webkit-appearance: none;
  outline-width: 0;
  border: 0.2em solid rgba( 123, 176, 248, 0.8 );
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: inset 0 0 5px rgba( 255, 255, 255, 0.75 ), inset 0 15px 0 rgba( 255, 255, 255, 0.15 );
  -webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, 0.75 ), inset 0 15px 0 rgba( 255, 255, 255, 0.15 );
  -moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, 0.75 ), inset 0 15px 0 rgba( 255, 255, 255, 0.15 );
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 0.0, rgba( 255, 255, 255, 0.5 ) ), color-stop( 0.5, rgba( 255, 255, 255, 0 ) ) );
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 50%);
}

#mobile_store_registration label {
  display: block;
}

#mobile_store_modalInclude {
  position: absolute;
  width: 100%;
}

.mobile_store_spanHide {
  display: none;
}

.mobile_store_spanShow {
  display: inline-block;
}

/*
 * Billing pages styles
 */
ul.mobile_store_basicForm div.select {
  list-style-type: none;
  overflow: hidden;
  position: relative;
  width: 151px;
  height: 20px;
}

#mobile_store_cardExpirationDateYearSelect,
#mobile_store_cardExpirationDateMonthSelect {
  width: 100% !important;
}

ul.mobile_store_basicForm div.selectMonth {
  width: 70px;
}

ul.mobile_store_basicForm div.selectYear {
  width: 78px;
}

ul.mobile_store_basicForm li.expires {
  width: 70px;
}

ul.mobile_store_basicForm li.date {
  width: 203px;
  padding: 0;
}

ul.mobile_store_basicForm li label.expires {
  padding: 15px 12px;
  float: left;
}

ul.mobile_store_basicForm li span.selectValue {
  font: bold 13px Helvetica;
  float:left;
  margin:4px 0 0 0;
}

ul.mobile_store_mobileList div.mobile_store_date_delimiter, table.mobile_store_mobileTable div.mobile_store_date_delimiter {
  float: left;
}

ul.mobile_store_mobileList div.mobile_store_date_delimiter label, table.mobile_store_mobileTable div.mobile_store_date_delimiter label {
  font-size: 14px;
}

ul.mobile_store_mobileList li div.content select {
  width:80%;
}

ul.mobile_store_basicForm div.mobile_store_month, ul.mobile_store_basicForm div.mobile_store_year, table.mobile_store_mobileTable div.mobile_store_month, table.mobile_store_mobileTable div.mobile_store_year {
  float:left;
  position:relative;
}

ul.mobile_store_basicForm div.mobile_store_month, ul.mobile_store_basicForm div.mobile_store_year {
  margin-top:-2px;
}

table.mobile_store_mobileTable td  div.content div.mobile_store_month, table.mobile_store_mobileTable td  div.content div.mobile_store_year {
  margin-top:2px;
}

table.mobile_store_mobileTable td  div.content div.mobile_store_date_delimiter {
  margin-top:2px;
}

ul.mobile_store_basicForm div.mobile_store_month label, ul.mobile_store_basicForm div.mobile_store_year label {
  display: inline;
}

ul.mobile_store_basicForm div.mobile_store_expire_date, table.mobile_store_mobileTable div.mobile_store_expire_date {
  margin-left: 7em;
  /* position: relative;
  z-index: 1; */
  overflow:hidden;
  float:left;
  width:40%;
  white-space:nowrap;
}

table.mobile_store_mobileTable div.mobile_store_expire_date {
	width: 100%;
	margin-left: 0;
}

ul.mobile_store_basicForm div.month, ul.mobile_store_basicForm div.year {
  width: 96px;
  min-height: 23px;
  padding: 15px 0 12px 5px;
  position: relative;
}

ul.mobile_store_basicForm label.arrow, ul.mobile_store_basicForm li.mobile_arrowed label {
  float: left;
  width: 95%;
}

ul.mobile_store_basicForm li.mobile_arrowed label.expires{
	width:10%;
	padding:0;
	/*float:none;*/
	/*display:table-cell;*/
}

/*:not() selector used for hiding arrows when errormessage is shown*/
ul.mobile_store_basicForm label.arrow:after, 
ul.mobile_store_basicForm li.mobile_arrowed:not(.mobile_store_error_state) div.content:before, 
table.mobile_store_mobileTable td.mobile_arrowed div.content:after,
ul.mobile_store_mobileList li div.right:not(.mobile_store_error_state) div.content:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	margin-top: -7px;
	top: 50%;
	right: 1em;
	position: absolute;
	display: block;
	content: "";
}

table.mobile_store_mobileTable td.mobile_arrowed div.content::after {
  margin-left: 95%;
}

table.mobile_store_mobileTable td.mobile_arrowed.mobile_store_error_state div.content::after {
  margin-left: 40px;
}

.mobile_store_mobileTable div.mobile_store_divSelectWrappers {
  position: relative;
  min-height: 23px;
  padding: 14px 0 8px;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_expireCell {
  border-right: 0;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_expireCell label {
  float: left;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_billToCell {
  vertical-align:top;
  border-right: 0;
  padding-top: 1.1em;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_cardTypeCell {
  width: 8.4em;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_billingAddressesCell {
  padding: 0;
}
/*
* End billing pages styles
*/

/*
* Checkout defaults styles
*/
.mobile_store_checkoutDefaults ul.checkout_defaults li dl {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 5%;
	margin-top: -7px;
	top: 50%;
	position: absolute;
    display: block;
	content: "";
}

.mobile_store_checkoutDefaults ul.checkout_defaults li dt {
  font:bold 13px Helvetica;
  font-size:13px;
  margin-left:5px;
  display: inline-block;
}

.mobile_store_checkoutDefaults ul.checkout_defaults li dd {
  font:bold 11px Helvetica;
  color: #516691;
  margin-left:5px;
  display: inline-block;
}

#mobile_store_defaultShippingMethod li label {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 5%;
	margin-top: -7px;
	top: 50%; 
	position: absolute;
	display: block;
	content: "";
}

.contentAlternative {
	padding: 15px 12px;
	position: relative;
	overflow: hidden;	
	display: block;
}
/*
* End checkout defaults styles
*/

/*
* My Orders styles
*/
.my_orders {
  margin: 1em auto;
  padding:0;
}

.my_orders ul {
	overflow:hidden;

}
.my_orders ul ul {
	margin:0;
	padding:0;
}
.my_orders ul ul li {
	list-style:none;
	width:32%;
	float:left;
	clear:none;
	border:0;
	font: bold 12px Helvetica;
	text-align:left;
}

.my_orders ul ul li span {
	height:auto;
	font: bold 11px Helvetica;
	text-align:left;
	white-space:nowrap;
}
.my_orders ul ul li span.orderId {
	font: bold 12px Helvetica;
}
.my_orders ul ul li:nth-child(1) {
	width:25%;
}
.my_orders ul ul li:nth-child(2),
.my_orders ul ul li:nth-child(3), .my_orders ul ul li:nth-child(4), .my_orders ul ul li:nth-child(6) {
	padding-left:4%;
}
.my_orders ul ul li:nth-child(3), .my_orders ul ul li:nth-child(5), .my_orders ul ul li:nth-child(7) {
	padding-left: 2%;
}
.my_orders ul ul li:nth-child(4), .my_orders ul ul li:nth-child(6) {
  margin-left: 25%;
  clear: left;
}

.my_orders form {
  margin:0;
  padding:0;
}
.my_orders table {
  width: 95%;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  background-color: #ffffff;
}
.my_orders table.my_orders tr.start_datarow:not(:first-child) td, .my_orders table.my_orders tr.start_datarow:not(:first-child) th {
  border-top: solid 1px #A9ABAD;
}

.my_orders table.my_orders tr td, .my_orders table.my_orders tr th {
  font: bold 11px Helvetica;
  padding: 0;
  padding-left: 0.4em;
  height:auto;
}
.my_orders table.my_orders a {
  overflow:hidden;
  display:block;
}
.my_orders table.my_orders a img {
  float: right;
}
.my_orders table.my_orders tr.start_datarow td, .my_orders table.my_orders tr.start_datarow th {
  padding-top: 0.5em;
}

.my_orders table.my_orders tr.start_datarow td:first-child {
  vertical-align:top;
  font: bold 13px Helvetica;
  padding-left:10px;
}

.my_orders table.my_orders tr.start_datarow td:last-child {
  padding-right:10px;
}

.my_orders table.my_orders tr.end_datarow td, .my_orders table.my_orders tr.end_datarow th {
  padding-bottom: 0.5em;
}

.my_orders table.my_orders tr:not(:first-child) td {
  border-top-style: none;
}
.my_orders table.my_orders td, .my_orders table.my_orders th {
  border-right-style:none;
  border-left-style:none;
}
.my_orders table.my_orders th {
  text-align:left;
  color: #516691;
}

#mobile_store_removeCardLink {
  cursor: pointer;
}

#mobile_store_removeCardLink:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -96px; /* icon-delete */
	width: 29px;
	height: 29px;
	position: relative;
	right: 1em;
	content: "";
	float: right;
	top: -5px;
}

div#removeItemDialog div.mobile_store_moveItems li.remove {
  padding-left: 11px;
  padding-right: 11px;
  line-height: 45px;
}
/*
* End My Orders styles
*/
li.mobile_store_relatedItems {
  line-height: 70px;
  padding: 0 0.5em 0 1em;
}

li.mobile_store_relatedItems div {
  float: left;
  height: 70px;
  padding: 0 0.5em 0 0;
  width: 100%;
}

li.mobile_store_relatedItems div img {
  max-width: 70px;
  max-height: 70px;
}

ul.mobile_store_productDetails {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  height: 100%;
}

.mobile_store_productDetails > a {
  height: 100%;
  width: 100%;
  display: block;
  border: none;
}

.mobile_store_productDetails li.mobile_store_productTitle {
  height: 30px;
  font: 17px Verdana;
  color: #000000;
  padding-left: 0.5em;
  line-height: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(191, 192, 195, 1)), to(rgba(191, 192, 195, 0)));
  background-image: -moz-linear-gradient(center bottom , #BFC0C3, rgba(191, 192, 195, 0) 100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.5em;
}

.mobile_store_productDetails li.mobile_store_details {
  height: auto;
  background-color: rgb(241,243,246);
  -moz-box-shadow: inset 0 0 10px rgb(191,192,195);
  -webkit-box-shadow: inset 0 0 10px rgb(191,192,195);
  padding: 0 0.5em 0.5em 1em;
}

.mobile_store_productDetails p.mobile_store_detailsTitles {
  font: 17px Verdana;
  color: #737C0B;
  padding: 0.5em 0 0 0;
  margin: 0;
}

.mobile_store_productDetails p.mobile_store_detailsContent {
  font: 11px Verdana;
  color: #333333;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
}

.mobile_store_productDetails #mobile_store_price {
  font-family: Verdana;
  width: 100%;
  text-align: center;
  height: 30%;
  display: table;
}

.mobile_store_productDetails #mobile_store_price p {
  font-size: 11px;
  line-height: 120%;
  color: #516691;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

.mobile_store_productDetails #mobile_store_price p strong{
  font-size: 18px;
  font-weight: normal;
  color: #B75A00;
}

.mobile_store_productDetails #mobile_store_price p span {
  text-decoration: line-through;
}

li.mobile_store_pickers {
  height: 300px;
  position: relative;
  overflow: hidden;
}

li.mobile_store_pickers .mobile_store_imageContainer {
  -webkit-transition: margin-left 0.3s;
  margin-left: 0;
  display: inline-block;
  max-width: 70%;
  position: absolute;
}

li.mobile_store_pickers.expanded .mobile_store_imageContainer{
  margin-left: -20px;
}

li.mobile_store_pickers #mobile_store_pickersContent {
  -webkit-transition: width 0.5s;
  text-align: center;
  display: inline-block;
  width: 32%;
  position: absolute;
  right: 0px;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

li.mobile_store_pickers.expanded #mobile_store_pickersContent{
  width: 45%;
}

li.mobile_store_pickers #mobile_store_pickersContent .price {
  margin: 10px 0 -5px 0;
}


.mobile_store_imageContainer img{
  max-width: 100%;
}

li.mobile_store_pickers #mobile_store_productDetailsContainer {
  overflow: hidden;
}

li.mobile_store_pickers #mobile_store_productActionsContainer{
  display: table;
  width: 100%;
  height: 44%;
}

li.mobile_store_pickers #mobile_store_productActionsContainer div{
  display: table-cell;
  vertical-align: middle;
}

li.mobile_store_pickers #mobile_store_productActionsContainer #mobile_store_addToCartButton{
  display: none;
}

li.mobile_store_pickers #mobile_store_productActionsContainer #mobile_store_pickerExpandButton button{
  font-size: 30px;
  padding: 3px 17px;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75), inset 0 0.6em 0 rgba(255, 255, 255, 0.15), 0px 3px 7px rgba(0, 50, 255, 0.3);
}

li.mobile_store_pickers.expanded #mobile_store_productActionsContainer #mobile_store_addToCartButton{
  display: table-cell;
}

#mobile_store_addToCartButton button:disabled{
  opacity: 0.5;
}

li.mobile_store_pickers #mobile_store_productActionsContainer span#mobile_store_buttonText{
  font: bold 11px Helvetica;
  color: #999999;
  text-align: center;
  width: 100%;
  display: block;
}

li.mobile_store_pickers #mobile_store_productActionsContainer button{
  display: inline-block;
}

.mobile_store_opacityGradient {
	width: 160px;
	height: 97%;
	background-image: -webkit-gradient(linear, left top, right top,
		color-stop(0.00, rgba(255, 255, 255, 1.00)),
		color-stop(0.20, rgba(255, 255, 255, 0.00)),
		color-stop(0.80, rgba(255, 255, 255, 0.00)),
		color-stop(1.00, rgba(255, 255, 255, 1.00))
	);
	background-image: -moz-repeating-linear-gradient(left,
		rgba(255, 255, 255, 1.00) 0%,
		rgba(255, 255, 255, 0.00) 20%,
		rgba(255, 255, 255, 0.00) 80%,
		rgba(255, 255, 255, 1.00) 100%
	);
	border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	position: absolute;
	left: 2px;
	top: 2px;
	z-index: 1;
}

#mobile_store_pickersContent ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 33%;
}

#mobile_store_pickersContent ul li{
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  border-top: solid 1px #999;
  height: 40px;
}

#mobile_store_pickersContent ul li:last-child{
  border-bottom: solid 1px #999;
}

#mobile_store_pickersContent ul li select {
  -webkit-appearance: none;
  border: none;
  font: bold 13px Helvetica;
  color: #000;
  width: 100%;
  background: url('/nrsdocroot/content/mobile/images/icon-arrowDOWN.png') 97% center no-repeat;
  padding: 0 18px 0 9px;
  height: 100%;
}

#mobile_store_pickersContent ul li label{
  font: bold 13px Helvetica;
  color: #000;
  width: 100%;
  padding: 0 18px 0 9px;
  height: 100%;
  display: inline-block;
}

#mobile_store_pickersContent ul li label.noText{
  padding: 0;
}

#mobile_store_pickersContent ul li select#mobile_store_qtySelect{
  min-width: 18px;
  width: 100%;
  padding: 0 18px 0 70px;
}

.qtyLabelText {
	position: absolute;
	width: auto;
	padding: 12px 0 0 9px;
}

#mobile_store_pickersContent ul li select:disabled{
  background: none;
}

#mobile_store_pickersContent ul li select.selected{
  color: #516691;
}

/* enlarged Product styles */
li.mobile_store_pickers.mobile_store_productEnlarged .mobile_store_imageContainer img {
  max-width: 320px;
  max-height: 380px;
  float: none;
}

li.mobile_store_pickers.mobile_store_productEnlarged .mobile_store_imageContainer {
  -webkit-transition: none;
  padding: 0;
  margin: 0;
  float: none;
}

li.mobile_store_pickers.mobile_store_productEnlarged #mobile_store_pickersContent{
  display: none;
}

li.mobile_store_pickers.mobile_store_productEnlarged{
  height: 380px;
  background: none;
  margin: 0;
}

#mobile_store_emailMePopup, #mobile_store_emailMe_confirm{
  display: none;
  position: absolute;
  top: 6em;
  width: 100%;
}

#mobile_store_emailMePopup table, #mobile_store_emailMe_confirm table{
  width: 80%;
  margin: 0 auto;
}

#mobile_store_emailMe tr:not(:first-child) td{
  padding: 0;
  border-top: solid 1px #A9ABAD;
}

#mobile_store_emailMe input[type='email']{
  -webkit-appearance: none;
  border: none;
  padding: 0 0 0 5%;
  margin: 0;
  width: 64%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: 1em;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font: bold 13px Helvetica;
}

#mobile_store_emailMe input[type='email']::-webkit-input-placeholder{
  color: #999999;
}

#mobile_store_emailMe a{
  margin-top: -15px;
  margin-right:	30px;
}

#mobile_store_emailMe tr.error td{
  border: solid 1px #B75A00;
}

#mobile_store_emailMe tr.error td input{
  color: #B75A00;
}

#mobile_store_emailMe tr.error + tr td a{
  display: none;
}

#mobile_store_emailMe td div:not(.checkBox){
  display: inline-block;
  text-align: center;
  visibility: hidden;
  background: #B75A00;
  float: right;
  margin: 0;
  color: #FFFFFF;
  padding: 0 3%;
  height: 100%;
  border-bottom-right-radius: inherit;
  width:24%;
}

#mobile_store_emailMe tr.error td div{
  visibility: visible;
}

#mobile_store_emailMe td div.checkBox{
  width: 98%;
  padding: 1em 0 1em 2%;
}

#mobile_store_emailMe input[type="checkbox"] ~ label {
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;
  background: none;
  padding-left: 1.25em;
}

#mobile_store_emailMe td div.checkBox input[type="checkbox"] {
  position:absolute;
  height:0;
  width:0;
  padding:0;
  margin:0;
  visibility: visible;
  opacity: 0;
}

#mobile_store_emailMe input[type="checkbox"]:checked ~ label:after {
	color: #000000;
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -15px -229px; /* icon-check */
	width: 13px;
	height: 13px;
 	margin-left: -15px; 
	margin-top: -23px;
	position: absolute;
	display: block;
	content: "";
}/* Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/reusablestyles.css#7 $ $Change: 692002 $ */

/* GENERIC ROUNDED BOXES WRAPPER */
.mobile_store_displayList {
  width: 95%;
  margin: 15px auto;
  padding: 0;
}

.mobile_store_displayList h2 {
  text-align: center;
  font: 20px Verdana;
  color: #737C0B;
}

.mobile_store_displayList h2 {
  text-align: center;
  font: 20px Verdana;
  color: #737C0B;
}

.mobile_store_displayList form {
  margin: 0;
  padding: 0;
}

.mobile_store_displayList form div.mobile_store_formActions {
  margin-top: 15px;
  text-align: center;
}

.mobile_store_displayList .mobile_store_checkoutHeader {
  margin-bottom: 10px;
  text-align: center;
}

.mobile_store_displayList .mobile_store_checkoutHeader h2 {
  display: inline;
}
/* GENERIC ROUNDED BOXES WRAPPER END */

.mobile_store_mobileTable {
  width: 93%;
  margin: 1em auto;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  background: white;
  border-spacing: 0px;
}

.mobile_store_mobileTable td {
  font: bold 13px Helvetica;
  padding: 0.5em 0 0.5em 1em;
  height: 45px;
}

.withArrow:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	position: absolute;
	right: 2em;
	top: 50%;
	margin-top: -7px;
	display: block;
	content: "";
}

.withLeftArrow:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	position: absolute;
	margin-left: 97%;
	margin-top: -7px;
	top: 50%;
	content: "";
	display: block;
}

.mobile_store_mobileTable th {
  font: bold 13px Helvetica;
  color: #999999;
}

.mobile_store_mobileTable th, td:not(:only-child):not(:last-child) {
  border-right: solid 1px #A9ABAD;
}

.mobile_store_mobileTable td.mobile_store_borderRightRemove {
  border-right: 0;
}

.mobile_store_mobileTable td.mobile_store_borderPaddingLeft {
  padding-left: 2em;
}

.mobile_store_mobileTable tr:not(:first-child) td {
  border-top: solid 1px #A9ABAD;
}

.mobile_store_mobileTable a:not(.contact) {
  display: block;
}

.mobile_store_mobileTable a.fillRow {
  height: 100%;
  line-height: 45px;
}

.mobile_store_mobileTable a:not(.contact) p {
  line-height: normal;
}

.mobile_store_mobileTable a img.mobile_store_arrowBlue {
  float: right;
  margin-right: .35em;
  border: none;
}

.mobile_store_mobileTable tr:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}

.mobile_store_mobileTable tr:first-child td:first-child {
  border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
}

.mobile_store_mobileTable tr:first-child td:last-child {
  border-top-right-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}

.mobile_store_mobileTable tr:last-child {
  border-bottom-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

.mobile_store_mobileTable tr:last-child td:first-child {
  border-bottom-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
}

.mobile_store_mobileTable tr:last-child td:last-child {
  border-bottom-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

.mobile_store_pageHeader {
	font: 20px Verdana;
	color: #737C0B;
	text-align: center;
	padding-top: 1em;
	padding-bottom: .5em;
}

.mobile_store_actionConfirmation {
  font: 14px Verdana;
  color: #000000;
  text-align: center;
}

.mobile_store_formFieldText {
	font: bold 11px Helvetica;
	color: #516691
}

span.mobile_store_formFieldText {
  display: block;
}

.mobile_store_textBoxForm {
  border: 0;
  border-width: 0;
  font: bold 13px Helvetica;
  height: 45px;
  width: 90%;
  margin-left: 1.2em;
  background-color: transparent;
  -webkit-appearance: none;
}

.mobile_store_textBoxForm::-webkit-input-placeholder {
	color: #999999;
}

.mobile_store_selectForm {
  -webkit-appearance: none;
  border: none;
  font: bold 13px Helvetica;
  color: #000000;
  margin: 0;
  padding: 0;
}

.mobile_store_selectForm.default, .mobile_store_selectForm.default option:first-child {
  color: #999999;
}

.mobile_store_selectForm option {
  color: #000000;
}

.mobile_store_textBoxSmall {
  width: 80%;
}

.mobile_store_mobileErrorTable {
  width: 93%;
  border: 1px solid #A9ABAD;
  margin: 20px auto;
  border-radius: 10px; /* rounded table borders */
  border-spacing: 0px;
}

.mobile_store_mobileErrorTable td {
  font: bold 13px Helvetica;
  height: 45px;
  text-align: left;
  background-color: #FFFFFF;
  line-height: 45px; /* This establishes vertical centering. It should be equal to height. */
}

.mobile_store_mobileErrorTable td div.content {
  font: bold 13px Helvetica;
  height: 100%;
  width: 100%;
  display: inline-block;
  line-height: inherit; /* important */
  text-align: left;
}
.mobile_store_mobileErrorTable td div.contentSmall {
  width: 80%;
}

/* One-off class where we only want error highlighting
   on the td element
*/
.mobile_store_mobileErrorTable td.errorOutline {
  border: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable td.error {
  border: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable td.error div {
  max-width: 55%;
}

.mobile_store_mobileErrorTable td.error.small div {
  max-width: 40%;
}

.mobile_store_mobileErrorTable td.error div input[type="text"],
.mobile_store_mobileErrorTable td.error div input[type="password"],
.mobile_store_mobileErrorTable td.error div input[type="email"] {
  color: #B75A00;
  border: 0;
  border-width: 0;
  font: bold 13px Helvetica;
  height: 90%;
  width: 89%;
  -webkit-appearance: none;
  margin-left: 10%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mobile_store_mobileErrorTable td div.errorMessage {
  font: bold 12px Helvetica;
  background: #B75A00;
  color: #FFFFFF;
  max-width: 36%;
  height: 100%;
  display: inline-block;
  line-height: inherit; /* important */
  float: right;
  padding: 0 4px 0 5px;
  text-align: center;
  vertical-align: middle;
}

div.errorMessageLarge {
  width: 50% !important;
}
.noWrap {
	white-space: nowrap;
}

.mobile_store_mobileErrorTable td div.errorMessage p {
  font: bold 12px Helvetica;
  text-align: center;
}

.mobile_store_mobileErrorTable td div.checkBox {
  width: 100%;
}

.mobile_store_mobileErrorTable input[type="checkbox"] {
 display: none;
}

.mobile_store_mobileErrorTable input[type="checkbox"]:checked ~ label img {
  visibility: visible;
}

/* borders for content */
.mobile_store_mobileErrorTable tr:first-child td:last-child div.errorMessage {
  border-top-right-radius: 6px;
}

.mobile_store_mobileErrorTable tr:last-child td:last-child div.errorMessage {
  border-bottom-right-radius: 6px;
}

.mobile_store_mobileErrorTable td:not(:last-child) {
  border-right: 1px solid #A9ABAD;
}

.mobile_store_mobileErrorTable td:not(:last-child).mobile_store_error_state {
  border-right: none;
}

.mobile_store_mobileErrorTable tr:first-child td { /* Rounded borders for top row */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.mobile_store_mobileErrorTable tr:not(:first-child) td {
  border-top: 1px solid #A9ABAD;
}

.mobile_store_mobileErrorTable tr:first-child td.error { /* Rounded borders for top row */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable tr:last-child td { /* Rounded borders for bottom row */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mobile_store_mobileErrorTable tr:last-child td.error { /* Rounded borders for bottom row */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable tr:last-child td.mobile_store_error_state { /* Rounded borders for bottom row, error state */
  border-top: 1px solid #B75A00;
}

.mobile_store_mobileErrorTable tr:not(:first-child):not(:last-child) td.error { /* Internal border between rows, error state */
  border: 2px solid #B75A00;
}

/* One off when we need just the border colored on the div */
.mobile_store_mobileErrorTable tr:not(:first-child):not(:last-child) td.errorOutline { /* Internal border between rows, error state */
  border: 2px solid #B75A00;
}
/* end borders */

.mobile_store_mobileErrorTable td.mobile_store_error_loginErrorRow {
  line-height: 30px;
  height: 30px;
  text-align: center;
  background: #B75A00;
  color: #FFFFFF;
  border: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable a img.mobile_store_arrow {
  border: none;
  float: right;
  padding-right: 1em;
  padding-top: .75em;
}

.mobile_store_mobileErrorTable a img.mobile_store_arrowLogin {
  border: none;
  float: right;
  padding-right: 1em;
  padding-top: .25em;
}

.mobile_store_textBoxFormError {
  color: #B75A00;
  border: 0;
  border-width: 0;
  font: bold 13px Helvetica;
  height: 90%;
  width: 85%;
  -webkit-appearance: none;
  margin-left: 1.2em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table.mobile_store_narrowLines td {
  padding-top: 0;
  padding-bottom: 0;
}

table.mobile_store_mobileTable td.mobile_store_error_state {
  border: 2px solid #B75A00;
}

table.mobile_store_mobileTable td.mobile_store_error_state:after {
  margin-right: 5em;
}

div.mobile_store_errorMessage {
  color: white;
  background-color: #F60;
  float: right;
  padding: 20px 5px;
  margin: -37px -13px;
}

.mobile_store_button {
  font-family: arial, sans-serif;
  font-size: 17px;	
  font-weight: bold;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  background-color: #0466F1;
  -webkit-appearance: none;
  outline-width: 0;
  border: 0.2em solid rgba(123, 176, 248, 0.8);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15), 0px 5px 15px #B9C6F8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0.5)), color-stop(0.5, rgba(255, 255, 255, 0)));
}

ul.mobile_store_mobileList {
  list-style: none outside none;
  padding: 0;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  background-color: #ffffff;
  font: bold 13px Helvetica;
  overflow:hidden;
}

ul.mobile_store_mobileList.withCheckBoxes li {
  padding-left: 1.5em;
}


ul.mobile_store_mobileList.withCheckBoxes li.checked span.defaultLabel {
  position: absolute;
  top: 15px;
  right: 12px;
  color: #999999;
}

ul#mobile_store_creditCardList.mobile_store_mobileList.withCheckBoxes li.checked label div.card_type,
ul.mobile_store_mobileList.withCheckBoxes li.checked div.content div.mobile_store_addressName {
  width: 81%;
}

ul.mobile_store_mobileList li.withBlueArrowBig div.content div.vcard {
  width: 90%;
}

ul.mobile_store_mobileList li {
  border-top: solid 1px #A9ABAD;
  position: relative;
  clear: both;
}

ul.mobile_store_mobileList li:first-of-type {
  border-top-style: none;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

ul.mobile_store_mobileList li:last-of-type {
  border-bottom-style: none;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

ul.mobile_store_mobileList li div.content, table.mobile_store_mobileTable td div.content {
  padding: 15px 12px;
  position: relative;
  overflow: hidden;
}

ul.mobile_store_mobileList li div.deleteContainer {
  padding-left: 0.9em;
  padding-right: 0.9em;
  height: 46px;
  line-height: 46px;
}

.withQuestion a {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -128px; /* icon-help */
	width: 29px;
	height: 29px;
	position: absolute;
	right: 2em;
	top: 50%;
	margin-top: -15px;
}

.withBlueArrowBig a {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -32px; /* icon-options */
	width: 29px;
	height: 29px;
	position: absolute;
	right: 2em;
	top: 50%;
	margin-top: -15px;
}

ul.mobile_store_mobileList li div.left {
  width: 60%;
  display: inline-block;
  float: left;
  border-right: 1px solid #A9ABAD;
}

ul.mobile_store_mobileList li div.left.mobile_store_error_state {
  border-right: 1px solid #B75A00;
}

ul.mobile_store_mobileList li div.right {
  width: 40%;
  display: inline-block;
  float: left;
}

ul.mobile_store_mobileList li input {
  margin: 0;
  padding: 0;
}

ul.mobile_store_mobileList li ::-webkit-input-placeholder {
  color: #999999;
  font: bold 13px Helvetica;
}

ul.mobile_store_mobileList li div.mobile_store_numberField {
  padding-top:12px;
}

ul.mobile_store_mobileList li input[type=text], ul.mobile_store_mobileList li input[type=password],
  ul.mobile_store_mobileList li input[type=email], ul.mobile_store_mobileList li input[type=tel],
  ul.mobile_store_mobileList li input[type=number] {
  height: 20px;
  color: #000000;
  font: bold 13px Helvetica;
  border-style: none;
  -webkit-appearance: none;
  width: 100%
}

ul.mobile_store_mobileList li input[type=text]::-webkit-input-placeholder,
ul.mobile_store_mobileList li input[type=password]::-webkit-input-placeholder {
  font-weight: bold;
}

ul.mobile_store_mobileList li input[type="checkbox"],
ul.mobile_store_mobileList li input[type="radio"],
#mobile_store_defaultCreditCard {
  position: absolute;
  padding: 0;
  margin: 0;
  visibility: visible;  
  opacity: 0;
}

ul.mobile_store_mobileList li input[type="radio"]:checked ~ label:before {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -15px -229px; /* icon-check */
	width: 13px;
	height: 13px;
    left: 3%;
    margin-right:5px;
	position: absolute;
    display: block;
	content: "";
}

ul.mobile_store_mobileList li input[type="radio"] ~ label {
  padding-left: 1.5em;
}

ul.mobile_store_mobileList li input[type="checkbox"] ~ label,
#mobile_store_paymentInfoAddNewCardForm input[type="checkbox"] ~ label {
  background: none;  
  padding-left: 2.25em;
}

ul.mobile_store_mobileList li input[type="checkbox"]:checked ~ label:before,
#mobile_store_paymentInfoAddNewCardForm input[type="checkbox"]:checked ~ label:before {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -15px -229px; /* icon-check */
	width: 13px;
	height: 13px;
 	left: 13px; 
	padding-left: 1em;
	margin-right: 13px;
	position: absolute;
	display: block;
	content: "";
}

ul.mobile_store_mobileList li select.mobile_store_selectForm {
  height: 20px;
  width: 100%
}

ul.mobile_store_mobileList li label {
  color: #000000;
  font: bold 13px Helvetica;
  display: block;
}

ul.mobile_store_mobileList li a.listLink {
  font: bold 13px Helvetica;
  display: block;
}

ul.mobile_store_mobileList li span.errorMessage {
  color: #ffffff;
  background-color: #B75A00;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  text-align: center;
}

ul.mobile_store_mobileList li:first-of-type span.errorMessage {
  border-top-right-radius: 1em;
}

ul.mobile_store_mobileList li:last-of-type span.errorMessage {
  border-bottom-right-radius: 1em;
}

ul.mobile_store_mobileList li div.mobile_store_error_state div.content,
table.mobile_store_mobileTable td.mobile_store_error_state div.content {
  display: table-cell;
  width: 100%;
}

ul.mobile_store_mobileList li.mobile_store_error_state div.content {
  display: table-cell;
}
ul.mobile_store_mobileList li.mobile_store_error_state > div {
  display: table;
  width: 100%;
}
ul.mobile_store_mobileList li.mobile_store_error_state span.minimalWidth {
  width: 5%;
}
ul.mobile_store_mobileList li.mobile_store_error_state span.normalWidth {
  width: 37%;
}

ul.mobile_store_mobileList li.mobile_store_error_state span.errorMessage,
ul.mobile_store_mobileList li div.mobile_store_error_state span.errorMessage,
table.mobile_store_mobileTable td.mobile_store_error_state span.errorMessage {
  display: table-cell;
  font-size: 11px;
}

ul.mobile_store_mobileList li.mobile_store_error_state.errorHeading span.errorMessage {
  font-size: 13px;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.85em;
}

ul.mobile_store_mobileList li.mobile_store_error_state {
  border-left: 2px solid #B75A00;
}

ul.mobile_store_mobileList li:last-of-type.mobile_store_error_state {
  border-bottom: 2px solid #B75A00;
}

ul.mobile_store_mobileList li.mobile_store_error_state,
ul.mobile_store_mobileList li.mobile_store_error_state + li {
  border-top: 2px solid #B75A00;
}

ul.mobile_store_mobileList li div.mobile_store_error_state {
  margin-top: -1px;
}

ul.mobile_store_mobileList li div.mobile_store_error_state div.content {
  border-top: 2px solid #B75A00;
  border-left: 2px solid #B75A00;
}

ul.mobile_store_mobileList li div.mobile_store_error_state.bottom div.content {
  border-bottom: 2px solid #B75A00;
}

.mobile_store_mobileCRSRedirectTable {
  border-spacing: 0px;
}

select.state {
  display: none;
}

select.state.show {
  display: block;
}

label[for=mobile_store_stateSelect] {
  height: 20px;
  color: #000000;
  font: bold 13px Helvetica;
}

label[for=mobile_store_stateSelect].default {
  color: #999999;
}

/*Errors styles start*/
.oneLineError {
	display: block !important;
	padding: 15px 12px !important;
	border-top-left-radius: 1em;
	text-align: center;
}

.oneLineErrorMiddle {
	display: block !important;
	border: 0 !important;
	padding: 15px 12px !important;
}
.mobile_store_forgotPassLogin.noMargin {
	font-size: 12px;
	font-weight: bold;
	padding: 15px 12px !important;
	width: auto;
}

.restorePassLink {
	background: #B75A00;
	color: white;
}

.restorePassLink:after { 
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -160px; /* icon-forgot */
	width: 25px;
	height: 24px;
	right: 10%;
	top: 50%;
	margin-top: -12px;
	display: block;
}

.restorePassLink a {
	margin: 0;
	width: 100%;
}
.restorePassLink a > div {
	padding: 15px 50px 15px 37px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mobile_store_error_state.roundedTopBorder {
	border-radius: 0;
}
.mobile_store_error_state.roundedTopBorder {
	background: #B75A00;
}
.mobile_store_error_state.roundedTopBorder div.roundedTop {
	border: 2px solid #B75A00;
	border: 0;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	background: #fff;
}
.mobile_store_error_state.roundedTopBorder div.content {
	display: block !important;
	width: auto !important;
}
.mobile_store_error_state.rightBorder {
	border-right: 2px solid #B75A00;
}
.mobile_store_error_state.roundedTopBorder .roundedTop {
	display: block !important;
	width: auto !important;
}

.fLeft {
	float: left;
}
.fRight {
	float: right;
}
.block {
	display: block !important;
}

.noMargin {
	margin: 0;
}
.noPadding {
	padding: 0 !important;
}
.noBorder {
	border:0 !important;
}

.vAlign {
	vertical-align: middle;
}

.clear {
	display: block;
	clear: both;
	width: 100%;
}

.fullWidth {
	width: 100%;
}
a.fullWidth {
	width: auto;
	display: block;
}

/* Main action BTN styles */
.mainActionBtn {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 9px 20px;
	outline-width: 0;
	border: 2px solid rgba(123, 176, 248, 0.8);
	border-radius: 5000px;
	-webkit-box-shadow:
		inset 0 0 10px rgba(255, 255, 255, 0.75),
		inset 0 1em 0 rgba(255, 255, 255, 0.15),
		0px 3px 7px rgba(0, 50, 255, 0.3);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0.00, rgba(255,255,255, 0.5)),
		color-stop(1.00, rgba(255,255,255, 0.0)));
	background-color: #0466F1;
}
a.mainActionBtn span {
	font-size: 11pt;
}

div.mobile_store_error_state_rounded {
	border: 2px solid #B75A00 !important;
}

div.deleteContainerOffset {
	padding-top: 15px;
}
a.mobile_store_removeLink {
	width: 70px;
}/* Search Styles
  Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/search.css#3 $ $Change: 692002 $ */

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

#mobile_store_spinner{
  -webkit-animation: loading-spinner 2s infinite;
}

#mobile_store_results{
  background: #FFFFFF;
}

ul.searchResults
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchResults > a{
  height: 100%;
  width: 100%;
  display: block;
  border: none;
}

.searchResults li{
  position: relative;
  height: 75px;
  line-height: 75px;
  width: 100%;
}

.searchResults li div.shadow{
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  z-index: 4;
  background: transparent;
  background-image:  -webkit-gradient(linear,center bottom,center top,
    color-stop(0.00, rgba(118,155,191, 0.30)),
    color-stop(1.00, rgba(118,155,191, 0.00)));
}

.searchResults li .searchResult{
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
}

.searchResults li .searchResult img{
  border: none;
  max-height: 75px;
  float: left;
  padding-right: 5px;
}

.searchResults li .searchResult p.searchResultProduct{
  display: inline-block;
  line-height: normal;
  margin: 0;
}

.searchResults li .searchResult img.notLoaded ~ p.searchResultProduct{
  margin-right: 80px;
}

.searchResults li .searchResult p.searchResultProduct span{
  padding: 0;
  margin: 0;
}

.searchResults li .searchResult p.searchResultProduct span.mobile_store_productPrice{
  font: 14px Verdana;
  color: #737C0B;
}

.searchResults li .searchResult p.searchResultProduct span.mobile_store_salePrice{
  font: 12px Verdana;
  color: #000000;
}

.searchResults li .searchResult p.searchResultProduct span.product_name{
  font: 17px Verdana;
  color: #000000;
  max-width: 200px;
  display: block;
  line-height: 17px;
}

.searchResults li .searchResult img.arrow{
  float: right;
  height: 14px;
  margin: 29px 0.5em 0 0;
  border: none;
}

li.moreResults{
  text-align: center;
  font: bold 15px Helvetica;
  color: #999999;
  display: table;
  height: 75px;
}

li.moreResults span{
  display: table-cell;
  vertical-align: middle;
}

/* Refinements header */

.refineOverlay{
  background: transparent;
}

#mobile_store_refine{
  overflow: hidden;
  height: auto;
}

#mobile_store_refine.hidden{
  height: 35px;
}

#mobile_store_refine:not(.hidden) + #mobile_store_results{
  display: none;
}

#mobile_store_refine_header{
  background-color: #294353;
  background-image: -webkit-gradient(linear, left bottom, left top,
    color-stop(0.00, rgba(0,0,0,0.00)),
    color-stop(0.50, rgba(0,0,0,0.00)),
    color-stop(1.00, rgba(0,0,0,0.30)));
  );
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0px;
  height: 35px;
  line-height: 35px;
}

#mobile_store_refine_header button{
  -webkit-appearance: none;
  font: 10pt Verdana;
  color: #FFFFFF;
  height: inherit;
  border: none;
  line-height: inherit;
  margin: 0;
}

#mobile_store_refine_header #mobile_store_toggleSearchResults{
  float: left;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.53, #738199),
    color-stop(1, #284067)
  );
}

/* Split off into separate rule for compatibility with simple search */
#mobile_store_refine:not(.hidden) #mobile_store_refine_header #mobile_store_toggleSearchResults{
  background-color: #294353;
 background-image: -webkit-gradient(linear, left bottom, left top,
 color-stop(0.00, rgba(0,0,0,0.00)),
 color-stop(0.50, rgba(0,0,0,0.00)),
 color-stop(1.00, rgba(0,0,0,0.30)));
}

#mobile_store_refine_header #mobile_store_toggleRefine{
  float: right;
 background-color: #294353;
 background-image: -webkit-gradient(linear, left bottom, left top,
 color-stop(0.00, rgba(0,0,0,0.00)),
 color-stop(0.50, rgba(0,0,0,0.00)),
 color-stop(1.00, rgba(0,0,0,0.30)));

}

#mobile_store_refine:not(.hidden) #mobile_store_refine_header #mobile_store_toggleRefine{
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.53, #738199),
    color-stop(1, #284067)
  );
}

#mobile_store_refine_header .dividerBar{
  content: "";
  background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0.00, rgba(255,255,255, 0.00)),
    color-stop(0.70, rgba(255,255,255, 0.18)),
    color-stop(1.00, rgba(255,255,255, 0.00))); 
  height: 35px;
  width: 1px;
  margin-right: 1%;
  margin-left: 1%;
  padding: 0;
  display: none;
}

#mobile_store_refine:not(.hidden) #mobile_store_refine_header .dividerBar.left{
  float: left;
  display: inline-block;
}

#mobile_store_refine.hidden #mobile_store_refine_header .dividerBar:not(.left){
  float: right;
  display: inline-block;
}

#mobile_store_refine #mobile_store_facets .mobile_store_buttonContainer{
  width: 100%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  background-image: -webkit-gradient(linear, center top, center bottom,
    color-stop(0.00, rgba(75,124,194,0.00)),
    color-stop(0.50, rgba(75,124,194,0.16)),
    color-stop(0.501, rgba(255,255,255,0.16)),
    color-stop(1.00, rgba(255,255,255,0.00)));
  margin-bottom: 3em;
}

#mobile_store_refine #mobile_store_facets .mobile_store_buttonContainer .mainActionBtn{
  width: 8em;
}

#mobile_store_refine.hidden #mobile_store_facets{
  display: none;
  background-color: #294353;
}

#mobile_store_facets{
  padding-top: 1em;
}

#mobile_store_facets ul{
  width: 95%;
  margin: 0 auto;
}

#mobile_store_facets ul li{
  height: 45px;
  padding: 5px 0.5em;
  font: bold 12px Verdana;
  color: #999;
}

#mobile_store_facets ul li label{
  height: 100%;
  line-height: 45px;
  color: #000;
  font-weight: bold;
}

#mobile_store_facets ul li label select{
 -webkit-appearance: none;
  border: none;
  float: right;
  width: 150px;
  height: 45px;
  padding: 0 17px 0 0;
  color: #516691;
  font: bold 13px Helvetica;
  line-height: 45px;
  background: url('/nrsdocroot/content/mobile/images/icon-arrowDOWN.png') no-repeat 97% center;
}

#mobile_store_facets ul li label select:not(.visible){
  color: #FFF; 
  /* Hiding the select causes issues with iOS, so we just hide the text */
}

.searchResults * h4{
  margin: 0;
}

.searchResults * p.noResults{
  text-align: center;
  padding: 0;
  margin: 0;
  font: 14px Verdana;
}

.searchResults * .mobile_store_buttonContainer{
  width: 100%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  background-image: -webkit-gradient(linear, center top, center bottom,
    color-stop(0.00, rgba(75,124,194,0.00)),
    color-stop(0.50, rgba(75,124,194,0.16)),
    color-stop(0.501, rgba(255,255,255,0.16)),
    color-stop(1.00, rgba(255,255,255,0.00)));
}

.searchResults > li:nth-of-type(3) > .mobile_store_buttonContainer{
  margin-top: 3em;
}

.searchResults * .mobile_store_buttonContainer .mainActionBtn{
  width: 8em;
}
/* End Search Styles */
