/* "More Info" Styles
   Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/moreinfo.css#3 $ $Change: 692002 $ */
.mobile_store_infoHeader{
  font: 20px Verdana;
  color: #737C0B;
  text-align: center;
  background-color: #F1F3F6;
  padding: 0.3em 0 0.3em 0;
  background-image: -webkit-gradient(linear, center bottom, center top, from(rgba(0,0,0,0.15)), color-stop(30%, transparent), to(transparent));
}

.mobile_store_infoContent{
  background: #FFFFFF;
  padding: 0.2em 0.2em 2.5em 0.2em;
  border-top: solid 1px #A9ABAD;
  border-bottom: solid 1px #A9ABAD;
}

.mobile_store_infoContent p{
  padding: 0 5px;
  text-align: left;
  margin-top: 3px;
}

.mobile_store_infoContent h3,h4{
  color: #FF9900;
  padding-left: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#mobile_store_locations{
  list-style: none;
  background: #FFFFFF;
  width: 90%;
  margin: 1em auto 1em auto;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  padding: 0;
}

#mobile_store_locations li:not(:first-child) {
  border-top: solid 1px #A9ABAD;
}

#mobile_store_locations li{
  padding: 0;
  position: relative;
}

#mobile_store_locations img {
  -webkit-transition: -webkit-transform 0.1s linear;
  -webkit-transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  width:8px;
  height:13px;
  margin-top: -6px;
  right: 1em;
}

#mobile_store_locations img.clicked{
  -webkit-transform: rotate(90deg);
}

#mobile_store_locations li p{
  font: bold 11px Helvetica;
  color: #516691;
  margin: 0.5em 0;
  max-width: 70%;
  padding: 0 0 0 1em;
}

#mobile_store_locations li p.storeName{
  font: bold 13px Helvetica;
  color: #000000;
  padding: 0 0 0 0.8em;
}

#mobile_store_locations li a{
  display: block;
  padding-bottom: 0.5em;
}

#mobile_store_locations li div > div{
  -webkit-transition: padding 0.1s linear;
  padding: 0 0 1em 1em;
  overflow: hidden;
  background-image: -webkit-gradient(linear,center bottom,center top,
    color-stop(0.00, rgba(41,67,83, 0.25)),
    color-stop(0.20, rgba(41,67,83, 0.10)),
    color-stop(0.50, rgba(41,67,83, 0.00)),
    color-stop(1.00, rgba(41,67,83, 0.00)));
}

#mobile_store_locations li:last-child div{
  border-radius: 1em;
}

#mobile_store_locations li > div {
  display: none;
}

#mobile_store_locations li div > div.hidden{
  padding: 0 0 0 2em;
  max-height: 0px;
}

#mobile_store_locations li div > div a{
  display: inline-block;
  padding: 0 1em 0 1em;
  border: solid 1px #A9ABAD;
  border-radius: 2em;
  font: bold 11px Helvetica;
  color: #516691;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  background-color: #FFFFFF;
  width: 3.7em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mobile_store_languages td input[type='radio']{
  display: none;
}

#mobile_store_languages td label img{
  padding-right: 0.5em;
  float: left;
  visibility: hidden;
}

#mobile_store_languages td label{
  width: 100%;
  display: block;
}

#mobile_store_languages td input[type='radio']:checked ~ label img{
  visibility: visible;
}

#mobile_store_currentLanguage{
  float: right;
  font: bold Helvetica;
  color: #516691;
  padding-right: 3em;
}

.triple-row {
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

ul.mobile_store_mobileList li ul.triple-row li {
	list-style:none;
	overflow:hidden;
	margin:0;
	padding:0;
	border:0;
	border-left: 1px solid #A9ABAD;
	float:left;
	-webkit-border-radius:0;
	width:33%;
	clear:none !important;
}

ul.mobile_store_mobileList li ul.triple-row li a {
	width:100%;
}
/* End "More Info" styles */
