/* Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/reusablestyles.css#7 $ $Change: 692002 $ */

/* GENERIC ROUNDED BOXES WRAPPER */
.mobile_store_displayList {
  width: 95%;
  margin: 15px auto;
  padding: 0;
}

.mobile_store_displayList h2 {
  text-align: center;
  font: 20px Verdana;
  color: #737C0B;
}

.mobile_store_displayList h2 {
  text-align: center;
  font: 20px Verdana;
  color: #737C0B;
}

.mobile_store_displayList form {
  margin: 0;
  padding: 0;
}

.mobile_store_displayList form div.mobile_store_formActions {
  margin-top: 15px;
  text-align: center;
}

.mobile_store_displayList .mobile_store_checkoutHeader {
  margin-bottom: 10px;
  text-align: center;
}

.mobile_store_displayList .mobile_store_checkoutHeader h2 {
  display: inline;
}
/* GENERIC ROUNDED BOXES WRAPPER END */

.mobile_store_mobileTable {
  width: 93%;
  margin: 1em auto;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  background: white;
  border-spacing: 0px;
}

.mobile_store_mobileTable td {
  font: bold 13px Helvetica;
  padding: 0.5em 0 0.5em 1em;
  height: 45px;
}

.withArrow:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	position: absolute;
	right: 2em;
	top: 50%;
	margin-top: -7px;
	display: block;
	content: "";
}

.withLeftArrow:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	position: absolute;
	margin-left: 97%;
	margin-top: -7px;
	top: 50%;
	content: "";
	display: block;
}

.mobile_store_mobileTable th {
  font: bold 13px Helvetica;
  color: #999999;
}

.mobile_store_mobileTable th, td:not(:only-child):not(:last-child) {
  border-right: solid 1px #A9ABAD;
}

.mobile_store_mobileTable td.mobile_store_borderRightRemove {
  border-right: 0;
}

.mobile_store_mobileTable td.mobile_store_borderPaddingLeft {
  padding-left: 2em;
}

.mobile_store_mobileTable tr:not(:first-child) td {
  border-top: solid 1px #A9ABAD;
}

.mobile_store_mobileTable a:not(.contact) {
  display: block;
}

.mobile_store_mobileTable a.fillRow {
  height: 100%;
  line-height: 45px;
}

.mobile_store_mobileTable a:not(.contact) p {
  line-height: normal;
}

.mobile_store_mobileTable a img.mobile_store_arrowBlue {
  float: right;
  margin-right: .35em;
  border: none;
}

.mobile_store_mobileTable tr:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}

.mobile_store_mobileTable tr:first-child td:first-child {
  border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
}

.mobile_store_mobileTable tr:first-child td:last-child {
  border-top-right-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}

.mobile_store_mobileTable tr:last-child {
  border-bottom-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

.mobile_store_mobileTable tr:last-child td:first-child {
  border-bottom-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
}

.mobile_store_mobileTable tr:last-child td:last-child {
  border-bottom-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

.mobile_store_pageHeader {
	font: 20px Verdana;
	color: #737C0B;
	text-align: center;
	padding-top: 1em;
	padding-bottom: .5em;
}

.mobile_store_actionConfirmation {
  font: 14px Verdana;
  color: #000000;
  text-align: center;
}

.mobile_store_formFieldText {
	font: bold 11px Helvetica;
	color: #516691
}

span.mobile_store_formFieldText {
  display: block;
}

.mobile_store_textBoxForm {
  border: 0;
  border-width: 0;
  font: bold 13px Helvetica;
  height: 45px;
  width: 90%;
  margin-left: 1.2em;
  background-color: transparent;
  -webkit-appearance: none;
}

.mobile_store_textBoxForm::-webkit-input-placeholder {
	color: #999999;
}

.mobile_store_selectForm {
  -webkit-appearance: none;
  border: none;
  font: bold 13px Helvetica;
  color: #000000;
  margin: 0;
  padding: 0;
}

.mobile_store_selectForm.default, .mobile_store_selectForm.default option:first-child {
  color: #999999;
}

.mobile_store_selectForm option {
  color: #000000;
}

.mobile_store_textBoxSmall {
  width: 80%;
}

.mobile_store_mobileErrorTable {
  width: 93%;
  border: 1px solid #A9ABAD;
  margin: 20px auto;
  border-radius: 10px; /* rounded table borders */
  border-spacing: 0px;
}

.mobile_store_mobileErrorTable td {
  font: bold 13px Helvetica;
  height: 45px;
  text-align: left;
  background-color: #FFFFFF;
  line-height: 45px; /* This establishes vertical centering. It should be equal to height. */
}

.mobile_store_mobileErrorTable td div.content {
  font: bold 13px Helvetica;
  height: 100%;
  width: 100%;
  display: inline-block;
  line-height: inherit; /* important */
  text-align: left;
}
.mobile_store_mobileErrorTable td div.contentSmall {
  width: 80%;
}

/* One-off class where we only want error highlighting
   on the td element
*/
.mobile_store_mobileErrorTable td.errorOutline {
  border: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable td.error {
  border: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable td.error div {
  max-width: 55%;
}

.mobile_store_mobileErrorTable td.error.small div {
  max-width: 40%;
}

.mobile_store_mobileErrorTable td.error div input[type="text"],
.mobile_store_mobileErrorTable td.error div input[type="password"],
.mobile_store_mobileErrorTable td.error div input[type="email"] {
  color: #B75A00;
  border: 0;
  border-width: 0;
  font: bold 13px Helvetica;
  height: 90%;
  width: 89%;
  -webkit-appearance: none;
  margin-left: 10%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mobile_store_mobileErrorTable td div.errorMessage {
  font: bold 12px Helvetica;
  background: #B75A00;
  color: #FFFFFF;
  max-width: 36%;
  height: 100%;
  display: inline-block;
  line-height: inherit; /* important */
  float: right;
  padding: 0 4px 0 5px;
  text-align: center;
  vertical-align: middle;
}

div.errorMessageLarge {
  width: 50% !important;
}
.noWrap {
	white-space: nowrap;
}

.mobile_store_mobileErrorTable td div.errorMessage p {
  font: bold 12px Helvetica;
  text-align: center;
}

.mobile_store_mobileErrorTable td div.checkBox {
  width: 100%;
}

.mobile_store_mobileErrorTable input[type="checkbox"] {
 display: none;
}

.mobile_store_mobileErrorTable input[type="checkbox"]:checked ~ label img {
  visibility: visible;
}

/* borders for content */
.mobile_store_mobileErrorTable tr:first-child td:last-child div.errorMessage {
  border-top-right-radius: 6px;
}

.mobile_store_mobileErrorTable tr:last-child td:last-child div.errorMessage {
  border-bottom-right-radius: 6px;
}

.mobile_store_mobileErrorTable td:not(:last-child) {
  border-right: 1px solid #A9ABAD;
}

.mobile_store_mobileErrorTable td:not(:last-child).mobile_store_error_state {
  border-right: none;
}

.mobile_store_mobileErrorTable tr:first-child td { /* Rounded borders for top row */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.mobile_store_mobileErrorTable tr:not(:first-child) td {
  border-top: 1px solid #A9ABAD;
}

.mobile_store_mobileErrorTable tr:first-child td.error { /* Rounded borders for top row */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable tr:last-child td { /* Rounded borders for bottom row */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mobile_store_mobileErrorTable tr:last-child td.error { /* Rounded borders for bottom row */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable tr:last-child td.mobile_store_error_state { /* Rounded borders for bottom row, error state */
  border-top: 1px solid #B75A00;
}

.mobile_store_mobileErrorTable tr:not(:first-child):not(:last-child) td.error { /* Internal border between rows, error state */
  border: 2px solid #B75A00;
}

/* One off when we need just the border colored on the div */
.mobile_store_mobileErrorTable tr:not(:first-child):not(:last-child) td.errorOutline { /* Internal border between rows, error state */
  border: 2px solid #B75A00;
}
/* end borders */

.mobile_store_mobileErrorTable td.mobile_store_error_loginErrorRow {
  line-height: 30px;
  height: 30px;
  text-align: center;
  background: #B75A00;
  color: #FFFFFF;
  border: 2px solid #B75A00;
}

.mobile_store_mobileErrorTable a img.mobile_store_arrow {
  border: none;
  float: right;
  padding-right: 1em;
  padding-top: .75em;
}

.mobile_store_mobileErrorTable a img.mobile_store_arrowLogin {
  border: none;
  float: right;
  padding-right: 1em;
  padding-top: .25em;
}

.mobile_store_textBoxFormError {
  color: #B75A00;
  border: 0;
  border-width: 0;
  font: bold 13px Helvetica;
  height: 90%;
  width: 85%;
  -webkit-appearance: none;
  margin-left: 1.2em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table.mobile_store_narrowLines td {
  padding-top: 0;
  padding-bottom: 0;
}

table.mobile_store_mobileTable td.mobile_store_error_state {
  border: 2px solid #B75A00;
}

table.mobile_store_mobileTable td.mobile_store_error_state:after {
  margin-right: 5em;
}

div.mobile_store_errorMessage {
  color: white;
  background-color: #F60;
  float: right;
  padding: 20px 5px;
  margin: -37px -13px;
}

.mobile_store_button {
  font-family: arial, sans-serif;
  font-size: 17px;	
  font-weight: bold;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  background-color: #0466F1;
  -webkit-appearance: none;
  outline-width: 0;
  border: 0.2em solid rgba(123, 176, 248, 0.8);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75), inset 0 15px 0 rgba(255, 255, 255, 0.15), 0px 5px 15px #B9C6F8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0.5)), color-stop(0.5, rgba(255, 255, 255, 0)));
}

ul.mobile_store_mobileList {
  list-style: none outside none;
  padding: 0;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  background-color: #ffffff;
  font: bold 13px Helvetica;
  overflow:hidden;
}

ul.mobile_store_mobileList.withCheckBoxes li {
  padding-left: 1.5em;
}


ul.mobile_store_mobileList.withCheckBoxes li.checked span.defaultLabel {
  position: absolute;
  top: 15px;
  right: 12px;
  color: #999999;
}

ul#mobile_store_creditCardList.mobile_store_mobileList.withCheckBoxes li.checked label div.card_type,
ul.mobile_store_mobileList.withCheckBoxes li.checked div.content div.mobile_store_addressName {
  width: 81%;
}

ul.mobile_store_mobileList li.withBlueArrowBig div.content div.vcard {
  width: 90%;
}

ul.mobile_store_mobileList li {
  border-top: solid 1px #A9ABAD;
  position: relative;
  clear: both;
}

ul.mobile_store_mobileList li:first-of-type {
  border-top-style: none;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

ul.mobile_store_mobileList li:last-of-type {
  border-bottom-style: none;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

ul.mobile_store_mobileList li div.content, table.mobile_store_mobileTable td div.content {
  padding: 15px 12px;
  position: relative;
  overflow: hidden;
}

ul.mobile_store_mobileList li div.deleteContainer {
  padding-left: 0.9em;
  padding-right: 0.9em;
  height: 46px;
  line-height: 46px;
}

.withQuestion a {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -128px; /* icon-help */
	width: 29px;
	height: 29px;
	position: absolute;
	right: 2em;
	top: 50%;
	margin-top: -15px;
}

.withBlueArrowBig a {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -32px; /* icon-options */
	width: 29px;
	height: 29px;
	position: absolute;
	right: 2em;
	top: 50%;
	margin-top: -15px;
}

ul.mobile_store_mobileList li div.left {
  width: 60%;
  display: inline-block;
  float: left;
  border-right: 1px solid #A9ABAD;
}

ul.mobile_store_mobileList li div.left.mobile_store_error_state {
  border-right: 1px solid #B75A00;
}

ul.mobile_store_mobileList li div.right {
  width: 40%;
  display: inline-block;
  float: left;
}

ul.mobile_store_mobileList li input {
  margin: 0;
  padding: 0;
}

ul.mobile_store_mobileList li ::-webkit-input-placeholder {
  color: #999999;
  font: bold 13px Helvetica;
}

ul.mobile_store_mobileList li div.mobile_store_numberField {
  padding-top:12px;
}

ul.mobile_store_mobileList li input[type=text], ul.mobile_store_mobileList li input[type=password],
  ul.mobile_store_mobileList li input[type=email], ul.mobile_store_mobileList li input[type=tel],
  ul.mobile_store_mobileList li input[type=number] {
  height: 20px;
  color: #000000;
  font: bold 13px Helvetica;
  border-style: none;
  -webkit-appearance: none;
  width: 100%
}

ul.mobile_store_mobileList li input[type=text]::-webkit-input-placeholder,
ul.mobile_store_mobileList li input[type=password]::-webkit-input-placeholder {
  font-weight: bold;
}

ul.mobile_store_mobileList li input[type="checkbox"],
ul.mobile_store_mobileList li input[type="radio"],
#mobile_store_defaultCreditCard {
  position: absolute;
  padding: 0;
  margin: 0;
  visibility: visible;  
  opacity: 0;
}

ul.mobile_store_mobileList li input[type="radio"]:checked ~ label:before {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -15px -229px; /* icon-check */
	width: 13px;
	height: 13px;
    left: 3%;
    margin-right:5px;
	position: absolute;
    display: block;
	content: "";
}

ul.mobile_store_mobileList li input[type="radio"] ~ label {
  padding-left: 1.5em;
}

ul.mobile_store_mobileList li input[type="checkbox"] ~ label,
#mobile_store_paymentInfoAddNewCardForm input[type="checkbox"] ~ label {
  background: none;  
  padding-left: 2.25em;
}

ul.mobile_store_mobileList li input[type="checkbox"]:checked ~ label:before,
#mobile_store_paymentInfoAddNewCardForm input[type="checkbox"]:checked ~ label:before {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -15px -229px; /* icon-check */
	width: 13px;
	height: 13px;
 	left: 13px; 
	padding-left: 1em;
	margin-right: 13px;
	position: absolute;
	display: block;
	content: "";
}

ul.mobile_store_mobileList li select.mobile_store_selectForm {
  height: 20px;
  width: 100%
}

ul.mobile_store_mobileList li label {
  color: #000000;
  font: bold 13px Helvetica;
  display: block;
}

ul.mobile_store_mobileList li a.listLink {
  font: bold 13px Helvetica;
  display: block;
}

ul.mobile_store_mobileList li span.errorMessage {
  color: #ffffff;
  background-color: #B75A00;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  text-align: center;
}

ul.mobile_store_mobileList li:first-of-type span.errorMessage {
  border-top-right-radius: 1em;
}

ul.mobile_store_mobileList li:last-of-type span.errorMessage {
  border-bottom-right-radius: 1em;
}

ul.mobile_store_mobileList li div.mobile_store_error_state div.content,
table.mobile_store_mobileTable td.mobile_store_error_state div.content {
  display: table-cell;
  width: 100%;
}

ul.mobile_store_mobileList li.mobile_store_error_state div.content {
  display: table-cell;
}
ul.mobile_store_mobileList li.mobile_store_error_state > div {
  display: table;
  width: 100%;
}
ul.mobile_store_mobileList li.mobile_store_error_state span.minimalWidth {
  width: 5%;
}
ul.mobile_store_mobileList li.mobile_store_error_state span.normalWidth {
  width: 37%;
}

ul.mobile_store_mobileList li.mobile_store_error_state span.errorMessage,
ul.mobile_store_mobileList li div.mobile_store_error_state span.errorMessage,
table.mobile_store_mobileTable td.mobile_store_error_state span.errorMessage {
  display: table-cell;
  font-size: 11px;
}

ul.mobile_store_mobileList li.mobile_store_error_state.errorHeading span.errorMessage {
  font-size: 13px;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.85em;
}

ul.mobile_store_mobileList li.mobile_store_error_state {
  border-left: 2px solid #B75A00;
}

ul.mobile_store_mobileList li:last-of-type.mobile_store_error_state {
  border-bottom: 2px solid #B75A00;
}

ul.mobile_store_mobileList li.mobile_store_error_state,
ul.mobile_store_mobileList li.mobile_store_error_state + li {
  border-top: 2px solid #B75A00;
}

ul.mobile_store_mobileList li div.mobile_store_error_state {
  margin-top: -1px;
}

ul.mobile_store_mobileList li div.mobile_store_error_state div.content {
  border-top: 2px solid #B75A00;
  border-left: 2px solid #B75A00;
}

ul.mobile_store_mobileList li div.mobile_store_error_state.bottom div.content {
  border-bottom: 2px solid #B75A00;
}

.mobile_store_mobileCRSRedirectTable {
  border-spacing: 0px;
}

select.state {
  display: none;
}

select.state.show {
  display: block;
}

label[for=mobile_store_stateSelect] {
  height: 20px;
  color: #000000;
  font: bold 13px Helvetica;
}

label[for=mobile_store_stateSelect].default {
  color: #999999;
}

/*Errors styles start*/
.oneLineError {
	display: block !important;
	padding: 15px 12px !important;
	border-top-left-radius: 1em;
	text-align: center;
}

.oneLineErrorMiddle {
	display: block !important;
	border: 0 !important;
	padding: 15px 12px !important;
}
.mobile_store_forgotPassLogin.noMargin {
	font-size: 12px;
	font-weight: bold;
	padding: 15px 12px !important;
	width: auto;
}

.restorePassLink {
	background: #B75A00;
	color: white;
}

.restorePassLink:after { 
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -160px; /* icon-forgot */
	width: 25px;
	height: 24px;
	right: 10%;
	top: 50%;
	margin-top: -12px;
	display: block;
}

.restorePassLink a {
	margin: 0;
	width: 100%;
}
.restorePassLink a > div {
	padding: 15px 50px 15px 37px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mobile_store_error_state.roundedTopBorder {
	border-radius: 0;
}
.mobile_store_error_state.roundedTopBorder {
	background: #B75A00;
}
.mobile_store_error_state.roundedTopBorder div.roundedTop {
	border: 2px solid #B75A00;
	border: 0;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	background: #fff;
}
.mobile_store_error_state.roundedTopBorder div.content {
	display: block !important;
	width: auto !important;
}
.mobile_store_error_state.rightBorder {
	border-right: 2px solid #B75A00;
}
.mobile_store_error_state.roundedTopBorder .roundedTop {
	display: block !important;
	width: auto !important;
}

.fLeft {
	float: left;
}
.fRight {
	float: right;
}
.block {
	display: block !important;
}

.noMargin {
	margin: 0;
}
.noPadding {
	padding: 0 !important;
}
.noBorder {
	border:0 !important;
}

.vAlign {
	vertical-align: middle;
}

.clear {
	display: block;
	clear: both;
	width: 100%;
}

.fullWidth {
	width: 100%;
}
a.fullWidth {
	width: auto;
	display: block;
}

/* Main action BTN styles */
.mainActionBtn {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 9px 20px;
	outline-width: 0;
	border: 2px solid rgba(123, 176, 248, 0.8);
	border-radius: 5000px;
	-webkit-box-shadow:
		inset 0 0 10px rgba(255, 255, 255, 0.75),
		inset 0 1em 0 rgba(255, 255, 255, 0.15),
		0px 3px 7px rgba(0, 50, 255, 0.3);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0.00, rgba(255,255,255, 0.5)),
		color-stop(1.00, rgba(255,255,255, 0.0)));
	background-color: #0466F1;
}
a.mainActionBtn span {
	font-size: 11pt;
}

div.mobile_store_error_state_rounded {
	border: 2px solid #B75A00 !important;
}

div.deleteContainerOffset {
	padding-top: 15px;
}
a.mobile_store_removeLink {
	width: 70px;
}