/* Search Styles
  Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/search.css#3 $ $Change: 692002 $ */

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

#mobile_store_spinner{
  -webkit-animation: loading-spinner 2s infinite;
}

#mobile_store_results{
  background: #FFFFFF;
}

ul.searchResults
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchResults > a{
  height: 100%;
  width: 100%;
  display: block;
  border: none;
}

.searchResults li{
  position: relative;
  height: 75px;
  line-height: 75px;
  width: 100%;
}

.searchResults li div.shadow{
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  z-index: 4;
  background: transparent;
  background-image:  -webkit-gradient(linear,center bottom,center top,
    color-stop(0.00, rgba(118,155,191, 0.30)),
    color-stop(1.00, rgba(118,155,191, 0.00)));
}

.searchResults li .searchResult{
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
}

.searchResults li .searchResult img{
  border: none;
  max-height: 75px;
  float: left;
  padding-right: 5px;
}

.searchResults li .searchResult p.searchResultProduct{
  display: inline-block;
  line-height: normal;
  margin: 0;
}

.searchResults li .searchResult img.notLoaded ~ p.searchResultProduct{
  margin-right: 80px;
}

.searchResults li .searchResult p.searchResultProduct span{
  padding: 0;
  margin: 0;
}

.searchResults li .searchResult p.searchResultProduct span.mobile_store_productPrice{
  font: 14px Verdana;
  color: #737C0B;
}

.searchResults li .searchResult p.searchResultProduct span.mobile_store_salePrice{
  font: 12px Verdana;
  color: #000000;
}

.searchResults li .searchResult p.searchResultProduct span.product_name{
  font: 17px Verdana;
  color: #000000;
  max-width: 200px;
  display: block;
  line-height: 17px;
}

.searchResults li .searchResult img.arrow{
  float: right;
  height: 14px;
  margin: 29px 0.5em 0 0;
  border: none;
}

li.moreResults{
  text-align: center;
  font: bold 15px Helvetica;
  color: #999999;
  display: table;
  height: 75px;
}

li.moreResults span{
  display: table-cell;
  vertical-align: middle;
}

/* Refinements header */

.refineOverlay{
  background: transparent;
}

#mobile_store_refine{
  overflow: hidden;
  height: auto;
}

#mobile_store_refine.hidden{
  height: 35px;
}

#mobile_store_refine:not(.hidden) + #mobile_store_results{
  display: none;
}

#mobile_store_refine_header{
  background-color: #294353;
  background-image: -webkit-gradient(linear, left bottom, left top,
    color-stop(0.00, rgba(0,0,0,0.00)),
    color-stop(0.50, rgba(0,0,0,0.00)),
    color-stop(1.00, rgba(0,0,0,0.30)));
  );
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0px;
  height: 35px;
  line-height: 35px;
}

#mobile_store_refine_header button{
  -webkit-appearance: none;
  font: 10pt Verdana;
  color: #FFFFFF;
  height: inherit;
  border: none;
  line-height: inherit;
  margin: 0;
}

#mobile_store_refine_header #mobile_store_toggleSearchResults{
  float: left;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.53, #738199),
    color-stop(1, #284067)
  );
}

/* Split off into separate rule for compatibility with simple search */
#mobile_store_refine:not(.hidden) #mobile_store_refine_header #mobile_store_toggleSearchResults{
  background-color: #294353;
 background-image: -webkit-gradient(linear, left bottom, left top,
 color-stop(0.00, rgba(0,0,0,0.00)),
 color-stop(0.50, rgba(0,0,0,0.00)),
 color-stop(1.00, rgba(0,0,0,0.30)));
}

#mobile_store_refine_header #mobile_store_toggleRefine{
  float: right;
 background-color: #294353;
 background-image: -webkit-gradient(linear, left bottom, left top,
 color-stop(0.00, rgba(0,0,0,0.00)),
 color-stop(0.50, rgba(0,0,0,0.00)),
 color-stop(1.00, rgba(0,0,0,0.30)));

}

#mobile_store_refine:not(.hidden) #mobile_store_refine_header #mobile_store_toggleRefine{
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.53, #738199),
    color-stop(1, #284067)
  );
}

#mobile_store_refine_header .dividerBar{
  content: "";
  background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0.00, rgba(255,255,255, 0.00)),
    color-stop(0.70, rgba(255,255,255, 0.18)),
    color-stop(1.00, rgba(255,255,255, 0.00))); 
  height: 35px;
  width: 1px;
  margin-right: 1%;
  margin-left: 1%;
  padding: 0;
  display: none;
}

#mobile_store_refine:not(.hidden) #mobile_store_refine_header .dividerBar.left{
  float: left;
  display: inline-block;
}

#mobile_store_refine.hidden #mobile_store_refine_header .dividerBar:not(.left){
  float: right;
  display: inline-block;
}

#mobile_store_refine #mobile_store_facets .mobile_store_buttonContainer{
  width: 100%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  background-image: -webkit-gradient(linear, center top, center bottom,
    color-stop(0.00, rgba(75,124,194,0.00)),
    color-stop(0.50, rgba(75,124,194,0.16)),
    color-stop(0.501, rgba(255,255,255,0.16)),
    color-stop(1.00, rgba(255,255,255,0.00)));
  margin-bottom: 3em;
}

#mobile_store_refine #mobile_store_facets .mobile_store_buttonContainer .mainActionBtn{
  width: 8em;
}

#mobile_store_refine.hidden #mobile_store_facets{
  display: none;
  background-color: #294353;
}

#mobile_store_facets{
  padding-top: 1em;
}

#mobile_store_facets ul{
  width: 95%;
  margin: 0 auto;
}

#mobile_store_facets ul li{
  height: 45px;
  padding: 5px 0.5em;
  font: bold 12px Verdana;
  color: #999;
}

#mobile_store_facets ul li label{
  height: 100%;
  line-height: 45px;
  color: #000;
  font-weight: bold;
}

#mobile_store_facets ul li label select{
 -webkit-appearance: none;
  border: none;
  float: right;
  width: 150px;
  height: 45px;
  padding: 0 17px 0 0;
  color: #516691;
  font: bold 13px Helvetica;
  line-height: 45px;
  background: url('/nrsdocroot/content/mobile/images/icon-arrowDOWN.png') no-repeat 97% center;
}

#mobile_store_facets ul li label select:not(.visible){
  color: #FFF; 
  /* Hiding the select causes issues with iOS, so we just hide the text */
}

.searchResults * h4{
  margin: 0;
}

.searchResults * p.noResults{
  text-align: center;
  padding: 0;
  margin: 0;
  font: 14px Verdana;
}

.searchResults * .mobile_store_buttonContainer{
  width: 100%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  background-image: -webkit-gradient(linear, center top, center bottom,
    color-stop(0.00, rgba(75,124,194,0.00)),
    color-stop(0.50, rgba(75,124,194,0.16)),
    color-stop(0.501, rgba(255,255,255,0.16)),
    color-stop(1.00, rgba(255,255,255,0.00)));
}

.searchResults > li:nth-of-type(3) > .mobile_store_buttonContainer{
  margin-top: 3em;
}

.searchResults * .mobile_store_buttonContainer .mainActionBtn{
  width: 8em;
}
/* End Search Styles */
