<%--
  Resubmit the search with the given parameters

  Required parameters:
    None

  Optional parameters:
    None

--%>

<dsp:importbean bean="/atg/multisite/Site"/>
<dsp:importbean bean="/atg/commerce/search/catalog/QueryFormHandler"/>
<dsp:importbean bean="/atg/search/repository/FacetSearchTools"/>
<dsp:importbean bean="/atg/commerce/search/StoreBrowseConstraints"/>

<dsp:getvalueof var="pageSize" vartype="java.lang.Object" bean="Site.defaultPageSize"/>

<c:if test="${empty pageSize}">
  <c:set var="pageSize" value="6"/>
</c:if>

<c:if test="${empty query}">
  <dsp:getvalueof var="query" bean="QueryFormHandler.searchResponse.question"/>
</c:if>

<c:if test="${empty pageNum}">
  <dsp:getvalueof var="pageNum" value="1"/>
</c:if>

<dsp:setvalue bean="QueryFormHandler.searchRequest.pageSize" value="${pageSize}"/>
<dsp:setvalue bean="QueryFormHandler.searchRequest.question" value="${query}"/>
<dsp:setvalue bean="QueryFormHandler.searchRequest.multiSearchSession" value="true"/>
<dsp:setvalue bean="QueryFormHandler.searchRequest.saveRequest" value="${true}"/>
<dsp:setvalue bean="QueryFormHandler.searchRequest.facetSearchRequest" value="${true}"/>
<c:if test="${!empty facetTrail}"> <%-- This is a refinement request --%>
  <dsp:setvalue bean="FacetSearchTools.facetTrail" value="${facetTrail}"/>
</c:if>
<dsp:setvalue bean="QueryFormHandler.searchRequest.requestChainToken" value="${token}"/>
<dsp:setvalue bean="QueryFormHandler.goToPage" value="${pageNum}" />
<dsp:setvalue bean="QueryFormHandler.search" value="refine search"/>

<%-- @version $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/atgsearch/gadgets/search.jspf#1 $$Change: 683854 $ --%>