<%--
  This page fragment generates a series of dsp:option tags, one for each
  country we want to let the user select as part of shipping address.

  Page includes:
    None

  Required parameters:
    None

  Optional parameters:
    None
--%>

<%-- Iterate over the master list of countries and generate an option tag filtered on the basis of store configuration--%>

<dsp:option iclass="default" value=""><fmt:message key="common.country"/></dsp:option>
<dsp:droplet name="${countryRestrictionDroplet}">
  <dsp:param name="userLocale" value="${requestLocale.locale}" />
  <dsp:oparam name="output">
    <dsp:getvalueof var="countries" vartype="java.lang.Object" param="countries"/>

    <c:forEach var="country" items="${countries}">
      <dsp:param name="country" value="${country}"/>
      <dsp:option paramvalue="country.code"><dsp:valueof param="country.displayName"/></dsp:option>
    </c:forEach>
    
  </dsp:oparam>
</dsp:droplet>
<%-- @version $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/global/util/countryListPicker.jspf#1 $$Change: 683854 $--%>
