/**********************************************************************************************

Title: CRS - Dupont Base Grid
Date: October 2010

***********************************************************************************************

1. Reset

2. GLOBAL STRUCTURE
2.1  Accessibility Navigation
2.2  Page Container
2.3  2-Column Left Layout
2.4  2-Column Right Layout
2.5  3-Column Layout
2.6  Header
2.7  Category Navigation
2.8  Footer

3.  GLOBAL SITE COMPONENTS
3.1  Drop Down Menu Functionality
3.2  Item Listing Layout
3.3  Basic Form
3.4  Rich Cart
3.5  Button Types
3.6  Item Listing Table
3.7  Pagination

4.  HOME PAGE
4.1  Home Page Featured Products

5.  CATEGORY, SUBCATEGORY, & SEACH RESULTS PAGES
5.1  Side Promotions
5.2  Sort By
5.3  Ajax Spinner

6.  PRODUCT DETAIL PAGE
6.1  Product Image
6.2  Product Info
6.3  Product Color/Wood Finish & Size Pickers
6.4  Recommended Products
6.5  Size Chart
6.6  JavaScript Disabled

7.  LOGIN PAGES
7.1  Login
7.2  Checkout Login
7.3  Forgot Password

8.  REGISTRATION
8.1  Regular Registration
8.2  Checkout Registration


9.  CHECKOUT PAGES
9.1  Order Summary
9.2  Checkout Progress
9.3  Shopping Cart
9.4  Shipping

10.  POPUPS
10.1  Email A Friend


11. DOJO POPOVER AND LIGHTBOX
11.1  Popover
11.2  Lightbox

12.  SELF CLEARING FLOATS

**********************************************************************************************

1. Reset                                                                                    
============================================================================================*/
body{
  font-size:62.5%;
  font-family: Verdana,Geneva,sans-serif;
  height:100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
address,caption,cite,code,dfn,em,th,var {
  font-style:normal; 
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { 
  border:0;
}
a{text-decoration:none;}

iframe{
  border:none;
}

/* 2. Global Structure
============================================================================================*/ 

/* 2.1 -  Accessibility navigation
----------------------------------------------------------*/
#atg_store_accessibility_nav a, #atg_store_accessibility_nav a:hover, #atg_store_accessibility_nav a:visited 
{
  position: absolute;
  left: -1000em;
  text-align: left;
}

#atg_store_accessibility_nav a:active, #atg_store_accessibility_nav a:focus 
{ 
  position:static; 
  width:auto; 
  height:auto; 
  font-family: Verdana,Geneva,sans-serif;
}
/* 2.2 - Page Container
----------------------------------------------------------*/ 
body{
  background-color: #eee;
}
hr{
  display:none;
}
#atg_store_container{
  width: 981px;
  margin: 0 auto;
  position:relative;
}
#atg_store_content{
  min-height:496px;
}
#atg_store_main{
  background-color: #fff;
}

/* 2.3 - 2-Column Left Layout
----------------------------------------------------------*/
.atg_store_leftCol #atg_store_content .aside{
  float:left;
  width:183px;
}
.atg_store_leftCol #atg_store_content .atg_store_main{
  float:right;
  width: 797px;
}

/* 2.4 - 2-Column Right Layout
----------------------------------------------------------
Note:  All pages use "atg_store_rightCol" on bodyClass if a right column is shown on the page.  
The only exception to this is the Confirm Order Response page, which has a right column ONLY when accessed from an anonymous user.
Because anonymous and registered confirmation response pages use the same JSP, we are using the page name bodyClass instead of
"atg_store_rightCol" for this page ONLY.

*/
.atg_store_rightCol #atg_store_content .aside,
.atg_store_confirmResponseRegister #atg_store_content .aside{
  float:right;
  width:183px;
}
.atg_store_rightCol #atg_store_content .atg_store_main,
.atg_store_confirmResponseRegister #atg_store_content .atg_store_main{
  float:left;
  width: 798px;
}

/* 2.5 - 3-Column Layout
----------------------------------------------------------*/
.atg_store_threeCol #atg_store_content .aside{
  float:left;
  width:183px;
}

/* 2.6 - Header 
----------------------------------------------------------*/

/* Country, Region, Language 
-----------------------------*/
#atg_store_locale dt,
#atg_store_locale dd{
  display:inline;
}
#atg_store_locale dd{
  margin-right:10px;
}
#atg_store_sites,
#atg_store_regions,
#atg_store_languages{
  display:inline;
  margin-right:40px;
}

/* Header Navigation
---------------------*/
#atg_store_header #atg_store_userAccountNav ul > li,
#atg_store_header #atg_store_personalNav ul#atg_store_personalNavItems > li{
  display:inline;
  margin-right:10px;
}
#atg_store_header #atg_store_userAccountNav ul > li:first-child,
#atg_store_header #atg_store_personalNav ul#atg_store_personalNavItems > li:first-child{
  margin-left:0;
}
#atg_store_header #atg_store_userAccountNav ul > li:first-child{
  float:left;
}
#atg_store_userAccountNav ul li.atg_store_welcomeMessage{
  max-width:325px;
}
#atg_store_userAccountNav ul li.atg_store_welcomeMessage span{
  float:left;
}

#atg_store_userAccountNav ul li.atg_store_welcomeMessage span.atg_store_loggedInUser,
#atg_store_userAccountNav ul li.atg_store_welcomeMessage span.atg_store_loggedInUser a{
  margin-left:3px;
  white-space:nowrap;
}

/* 2.7 Category Navigation 
----------------------------------------------------------*/
#atg_store_catNavContainer{
  clear:both;
}
#atg_store_catNav {
  width: 100%;
}
#atg_store_header #atg_store_catNav > li{
  display:inline-block;
}
#atg_store_header #atg_store_catNav >  li a{
  display:block;
}
#atg_store_header #atg_store_catNav >  li > a{
  margin-left:10px;
}

/* 2.8 Footer 
----------------------------------------------------------*/
#atg_store_tertiaryNavigation ul li{
  display: inline;
  margin-left:10px;
}
#atg_store_tertiaryNavigation ul li:first-child{
  margin-left:0;
}

/* 3. GLOBAL SITE COMPONENTS
============================================================================================*/

/* 3.1 - Drop Down Menu Functionality-
----------------------------------------------------------
   Note:  These styles are used for Gift List drop down menu, Product Detail Gift List Menu,
          and main Category Navigation */

.atg_store_dropDownParent{
  position:relative;
  z-index:800;
}
.atg_store_dropDownParent .atg_store_dropDownChild{
  display:none;
  background:#fff;
  position:absolute;
  left:0;
  z-index:1000;
  border:1px solid #333333;
  width:150px;
}
.atg_store_dropDownParent:hover .atg_store_dropDownChild{
  display:block;
}
.atg_store_dropDownChild ul li{
  margin:0;
  padding:0;
  border:none;
}

/* 3.2 Item Product Listing Layout 
----------------------------------------------------------*/
ul.atg_store_product li{
  float: left;
  width:25%;
}
ul.atg_store_product li a{
  display: block;
  text-decoration:none;
  height:225px;
  position:relative;
}
ul.atg_store_product li a span{
  display:block;
}
ul.atg_store_product li a span.atg_store_productImage{
  text-align:center;
}
ul.atg_store_product li a span.atg_store_productPrice span.atg_store_oldPrice{
  display:inline;
}
/* Cross-Site Indicator */
ul.atg_store_product li span.siteIndicator{
  white-space:nowrap;
}
ul.atg_store_product li span.siteIndicator span{
  display:inline ;
}

/* 3.3 Basic Form
----------------------------------------------------------
Note:  CRS marks all required form fields with an asterisk and
       has an explantation of what the asterisk means.  These are
       hidden by default.  */
span.required,
span.require,
p.required,
.atg_store_formKey{
  display:none !important;
}
input[type="radio"]{
  vertical-align:middle;
}
textarea{
  height:100px;
  width:285px;
  max-width:285px;   /* Prevents textarea from being expanded in Safari */
  max-height:100px;  /* Prevents textarea from being expanded in Safari */
}
.atg_store_basicForm li{
  margin-bottom:15px;
}
ul.atg_store_basicForm li label{
  width:130px;
  float:left;
  clear:left;
}
ul.atg_store_basicForm label span{
  display:block;
  font-weight:normal;
}
ul.atg_store_basicForm li input[type="text"],
ul.atg_store_basicForm li input[type="password"],
ul.atg_store_basicForm li input[type="email"],
ul.atg_store_basicForm li input[type="tel"]{
  width:280px;
  height:20px;
}
ul.atg_store_basicForm li select{
  width:280px;
}
ul.atg_store_basicForm li select#atg_store_paymentInfoAddNewCardMonth,
ul.atg_store_basicForm li select#atg_store_expirationDateMonthSelect{
  width:75px;
}
ul.atg_store_basicForm li select#atg_store_paymentInfoAddNewCardYear, 
ul.atg_store_basicForm li select#atg_store_expirationDateYearSelect {
  width:60px
}
ul.atg_store_basicForm li.option label,
ul.atg_store_basicForm li.default label{
  text-align:right;
  width:145px;
}
span.example{
  display:block;
  margin-left:130px; /* Matches width of label */
}

/* 3.4 Rich Cart 
----------------------------------------------------------

/* Hide Rich Cart - javascript.js has style to show rich cart when JS is enabled*/
#atg_store_header #atg_store_personalNav ul#atg_store_personalNavItems li.atg_store_viewCart{
  display:none;
}

/* Note:  Exact positioning of Rich Cart is found in store.js */
#atg_store_richCart{
  position: absolute;
  text-align: left;
  z-index: 1000;
  background: #fff;
  border: 1px solid #343434;
  width: 285px;
}
#atg_store_richCart a.atg_store_csClose {
  position:absolute;
  top:2px;
  right:2px;
  background:#000;
}
#atg_store_richCart #atg_store_richCartHeader h3{
  display:inline;
}
#atg_store_richCart > ul {
  /* To Invoke Scroll Bars after 450px */
  max-height: 425px;
  overflow: auto;
  overflow-x: hidden;
  position:relative;
}
#atg_store_richCart li{
  float:left;
  clear:left;
  width:100%;
}
#atg_store_richCart li img,
#atg_store_richCart li .atg_store_richCartImage,
#atg_store_richCart div.atg_store_richCartItem{
  float:left;
}
#atg_store_richCart div.atg_store_richCartItem a.atg_store_richCartItemDescription{
  display:block;
  max-width:120px; /* Temp style for grid.css layout */
}
#atg_store_richCart div.atg_store_richCartItem dt{
  float:left;
}
#atg_store_csFooter .atg_store_csSubtotal{
  white-space:nowrap;
}
#atg_store_richCart a.atg_store_richCartCart{
  margin-right:5px;
}

/* 3.5 Button Types 
----------------------------------------------------------*/

/* This button class will style a submit butotn like a link */
input.atg_store_textButton{
    background:none;
    border:none;
    cursor:pointer;
    color:#0000FF;
    font-size:1em;
    overflow:visible; /* To fix extra left and right padding in IE */
    font-family:Verdana,Geneva,sans-serif; /* Must repeat same font-family as on body */
}

/* 3.6 Item Listing Table
----------------------------------------------------------*/
#atg_store_itemTable{
  width:100%;
}

/* 3.7 Pagination
----------------------------------------------------------*/
.atg_store_pagination ul li{
  display:inline;
  margin-right:5px;
}

.disabledLink{
  color: #333 !important;
  cursor: default;
}

/* 3.8 Info List
----------------------------------------------------------*/
.atg_store_infoList dt {
    clear: left;
}

/* 4. HOME PAGE
============================================================================================*/

/* 4.1 Home Page Featured Products
----------------------------------------------------------*/
.atg_store_homepage_products ul.atg_store_product li{
  width:20%;
}

/* 5. CATEGORY, SUB CATEGORY PAGES, & SEARCH RESULTS
============================================================================================*/
#atg_store_prodList{
  clear:both;
}

/* 5.1 Category Side Promotions
----------------------------------------------------------*/
.category .atg_store_categoryPromotion .atg_store_promoCopy,
.category .atg_store_categoryPromotion .atg_store_promotionItem{
  display:block;
} 

/* 5.2 Sort By
----------------------------------------------------------*/
dl.atg_store_filter label{
  float:left;
}

/* 5.3 AJAX spinner image
----------------------------------------------------------*/
#ajaxSpinner {
  display:none;
  position:absolute;
  left:50%;
  top:50%;
  width:100px;
  height:100px;
  margin-top:-50px;
  margin-left:-50px;
}
#transparentLayer{
  display:none;
  position:absolute;
  left:0;
  top:0;  
  width:100%;
  height:100%;
}
#transparentLayer.active{
  display:block;
  background:#FFFFFF;
  opacity:0.8;
  filter:alpha(opacity=80);
}
#ajaxSpinner.active{
  display:block;
  background: url('/nrsdocroot/content/images/storefront/ajax-loader.gif') no-repeat;
}
#ajaxContainer {
  position:relative;
  min-height: 500px;
}
/* 5.4 What's New
----------------------------------------------------------*/
.atg_store_whatsNewProducts{
  clear: left;
  float: left;
  width: 100%;
}


/* 6. Product Detail Page
============================================================================================*/

/* 6.1 Product Image 
----------------------------------------------------------*/
#atg_store_productCore .atg_store_productImage{
  float:left;
  text-align:center;
  padding:0 10px 0 0;
  width:420px;
}
#atg_store_productCore .atg_store_productImage a{
  display:block;
}

/* 6.2 Product Info 
----------------------------------------------------------*/
/* Hiding DIV which contains error messages for ajax form validation */
.promptSelectDIV {
  display: none;
}
#productInfoContainer{
  float:left;
}
.atg_store_productSummary,
#atg_store_productAsSeenIn{
  width:350px;
}
.atg_store_productDescription{
  clear:right;
  width:350px;
}

.atg_store_productDescription div{
  margin-bottom: 15px;
}

.atg_store_quantity{
  padding-bottom:15px;
  position:relative;
  float:left;
}
.atg_store_addQty{
  clear:both;
}
.atg_store_itemID{
  position:absolute;
  bottom:0;
  right:0;
 }
.atg_store_productAvailability{
  float:left;
  clear:left;
}

/* More Actions */
.atg_store_pickerActions{
  float:left;
  clear:left;
  width:100%;
}
ul#moreactions > li {
  display:inline-block;
}


/* MulitSKU Layout */
.atg_store_productMultiSkuWide .atg_store_multisku_imageLayout,
.atg_store_productMultiSkuWide .atg_store_productDescription{
  float:left;
  clear:both;
  width:425px;
  text-align:center;
}
.atg_store_productMultiSkuWide .atg_store_productSummaryContainer{
  clear:right;
}
.atg_store_productMultiSkuWide .atg_store_productSummary .atg_store_item_name {
    float: left;
}
.atg_store_productMultiSkuWide .atg_store_productPrice {
    float: right;
}

/* 6.3 Product Color, Wood Finish, Size Pickers 
----------------------------------------------------------*/
div.atg_store_pickerContainer{
  clear:both;
}

/* Padding to display color name, which is absolutely positioned
   below picker */
div.atg_store_pickerContainer .atg_store_colorPicker,
div.atg_store_pickerContainer .atg_store_woodFinishPicker{
  padding-bottom:10px;
}

/* Placement of Color/Wood Finish beneath picker */
div.atg_store_pickerContainer div.atg_store_colorPicker span.selector span.active,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker span.selector span.active{
  border:none;
  width:225px;
  float:left;
  clear:left;
  height:15px;
}
div.atg_store_pickerContainer label.atg_store_pickerLabel,
.atg_store_quantity .atg_store_pickerLabel{
  float:left;
}
div.atg_store_pickerContainer div.atg_store_sizePicker span.selector,
div.atg_store_pickerContainer div.atg_store_colorPicker span.selector,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker span.selector{
  float:left;
  max-width:230px;
  zoom:1;
}

/* GWP popup modal specific selector attributes */
#atg_store_gwpSelector div.atg_store_pickerContainer div.atg_store_sizePicker span.selector,
#atg_store_gwpSelector div.atg_store_pickerContainer div.atg_store_colorPicker span.selector,
#atg_store_gwpSelector div.atg_store_pickerContainer div.atg_store_woodFinishPicker span.selector{
  float:left;
  max-width:140px;
  zoom:1;
}

/* The remaining styles in this picker section space and style selected and unselected
   colors, wood finishes, and sizes */
div.atg_store_pickerContainer div.atg_store_sizePicker span.selector a,
div.atg_store_pickerContainer div.atg_store_sizePicker span.selector span {
  border:1px solid #666666;
  color:#666666;
  float:left;
  height:10px;
  line-height:10px;
  margin-bottom:4px;
  margin-right:2px;
  margin-top:2px;
  text-align:center;
  min-width:10px;
  padding:3px;
}
div.atg_store_pickerContainer div.atg_store_sizePicker span.selector .atg_store_pickerAttribute {
  border:3px solid #B75A00;
  margin-bottom:0;
  margin-right:2px;
  margin-top:0;
  color:#000;
}
div.atg_store_pickerContainer div.atg_store_colorPicker span.selector a,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker span.selector a{
  float:left;
  border:1px solid #666666;
  margin-top:2px;
  margin-bottom:2px;
  margin-right:2px;
}

div.atg_store_pickerContainer div.atg_store_colorPicker span.selector a img,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker span.selector a img{
  width:16px;
  height:16px;
}

div.atg_store_pickerContainer div.atg_store_colorPicker span.selector a.atg_store_pickerAttribute,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker span.selector a.atg_store_pickerAttribute{
  cursor:default;
  margin-right:2px;
  padding:0;
  border:3px solid #B75A00;
  margin-top:0;
  margin-bottom:0;
}


div.atg_store_pickerContainer div.atg_store_sizePicker span.selector a.atg_store_help{
  border:none;
  overflow:hidden;
}

/* 6.4  Recently Viewed Products
----------------------------------------------------------*/
#atg_store_recentlyViewedProducts{
  clear:both;
}
#atg_store_recentlyViewedProducts ul.atg_store_product li{
  width: 20%;
}
/* 6.4  Recommended Products Products
----------------------------------------------------------*/
#atg_store_recommendedProducts{
  clear:none;
  float:right;
  max-width:183px;
}
/* 6.5 Size Chart
----------------------------------------------------------*/

#atg_store_sizeChartTable th,
#atg_store_sizeChartTable td{
  border:1px solid #000;
  width:60px;
}
#atg_store_sizeChartTable{
  vertical-align:middle;
}


/* 6.6 No JavaScript
----------------------------------------------------------*/
/* Hide Javascript Size and Color Picker if Javascript is Disabled */
#picker_contents{
  display:none;
}
/* Display Non-Javascript Size and Color Picker if Javascript is Disabled */
#no_js_picker_contents{
  display:block;
}

/* Don't display Close button in popup window if Javascript is Disabled */
#atg_store_popupCloseButton{
  display:none;
}

/* Email Me When In Stock */
#atg_store_notifyMeRequestForm .atg_store_formActions,
#atg_store_noJsNotifyMeRequest .atg_store_basicForm{
  text-align:left;
  width:auto;
}

/* Hide char counter if Javascript disabled*/
#atg_store_emailAFriendJSCharCounter{
  display:none;
}

/* Show max char available message if Javascript disabled*/
#atg_store_emailAFriendNoJSCharCounter{
  display:block;
}

/* 7. LOGIN PAGES
============================================================================================*/
/* 7.1 Login
----------------------------------------------------------*/
/* 7.2 Checkout Login
----------------------------------------------------------*/
/* 7.3 Forgot Password
----------------------------------------------------------*/

/* 8. REGISTRATION
============================================================================================*/
/* 8.1 - Regular Registratoin
-----------------------------------------------------------------*/
/* 8.2 - Checkout Registratoin (Order Success Page)
-----------------------------------------------------------------*/
/* 9. CHECKOUT PAGES
============================================================================================*/

/* 9.1 Order Summary
----------------------------------------------------------*/
.atg_store_orderSummary ul.atg_store_orderSubTotals li .atg_store_orderSummaryLabel{
  float:left;
  clear:left;
  width:90px;
}
.atg_store_orderSummary ul.atg_store_orderSubTotals li span.atg_store_orderSummaryItem{
  float:right;
  text-align:right;
}
.atg_store_orderSummary ul.atg_store_orderSubTotals li span.atg_store_couponCode input[type="text"]{
  width:60px;
  float:right;
}
.atg_store_orderSummary ul.atg_store_orderSubTotals li span.atg_store_couponCode input#atg_store_applyCoupon{
  float:right;
  clear:both;
  position:relative;
  right:-3px;
}
.atg_store_appliedCouponCode span,
.atg_store_appliedCouponCode a{
  float:right;
  font-weight:normal;
}
.atg_store_appliedOrderDiscounts,
.atg_store_appliedCouponCode a{
  clear:both;
}

/* 9.2 Checkout Progress
----------------------------------------------------------*/
.atg_store_checkout ol li{
  float:left;
  margin-right:15px;
  color:#999999;
}
.atg_store_checkout ol li.current{
  color:#000000;
}
/* 9.3 Shopping Cart
----------------------------------------------------------*/
#atg_store_itemTable td.quantity input.qty{
  width:40px;
  text-align:center;
}
#atg_store_itemTable input.atg_store_updateCart{
  display:block;
  width:100%;
  font-size:.9em;
  text-align:left;
}
.atg_store_closenessQualifier{
  width:270px;
}

/* Gift With Purchase Pop-Over */
#atg_store_gwpContainer {
  width: 400px;
}
#atg_store_gwpContainer #atg_store_gwpSelector{
  max-height:500px;
  overflow:auto;
}

#atg_store_gwpContainer #atg_store_itemTable td.image {
  width: 125px;
}
#atg_store_gwpContainer #atg_store_itemTable td.item {
  width: 205px;
}
.atg_store_gwpSelect input {
  margin-top: 20px;
}

.atg_store_gwpSelectButton{
  display:none !important;
}
.atg_store_gwpSelectButtonNoJs{
  display:inline-block;
}
.atg_store_giftSelectionTableHeader{
  display:none !important;
}

#atg_store_itemTable td.giftItemName .atg_store_basicButton{
  margin-left:-6px;
}

/* 9.4 Shipping
----------------------------------------------------------*/
/* User Narrower Address Form 
   Note:  This Narrower Address form is also used on the Billing page */

/* 10. POPUPS
============================================================================================*/
#atg_store_popup{
  padding:15px;
  background:none;
}

/* 10.1 Notify Me When In Stock
----------------------------------------------------------*/
#atg_store_notifyMeRequestForm ul li label{
  width:auto;
}
#atg_store_notifyMeRequestForm ul li label span{
  display:inline;
}
#atg_store_notifyMeRequestForm ul li input{
  float:left;
  clear:left;
}  
/* 10.2 Email a Friend
----------------------------------------------------------*/
.atg_store_emailAFriend{
  width:auto;
}
.atg_store_emailAFriend .charCounter{
    margin-left:15px;
  }

/* 11. Dojo Pop-Over and Lightbox
============================================================================================*/

/* 11.1 Popover
----------------------------------------------------------*/
body.appletKiller {
  /* overflow: hidden; */
}
.dijitDialogFixed div.dijitDialogTitleBar {
  cursor: default;
}
.dijitDialogUnderlayWrapper {
  background: transparent none repeat scroll 0 0 !important;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index:998;
}
.dijitDialogUnderlay {
  background: #3F3F3F none repeat scroll 0 0;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.dj_ie .dijitDialogUnderlay {
}
.dijit_a11y .dijitInputLayoutContainer,
.dijit_a11y .dijitDialog {
  background-color: white !important;
  opacity: 1 !important;
}
.dijitDialog .closeText {
  display: none;
  position: absolute;
}
.dijit_a11y .dijitDialog .closeText {
  display: inline;
}

/* 11.2 Lightbox 
----------------------------------------------------------*/
.dijitDialogUnderlay {
  background-color: #000;
  z-index:1900 !important;
  position:absolute
  
}
.dojoxLightbox {
  position: absolute;
  z-index: 2000 !important;
  overflow: hidden;
  width: 600px;
  height: 100px;
  padding:20px;
  background: #fff url('/dojo-1/dojox/image/resources/images/loading.gif') no-repeat center center;
  -webkit-box-shadow: 0px 6px 10px #636363;
  -moz-box-shadow:0px 6px 10px #636363;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align:center;
}
.dojoxLightboxContainer {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  z-index:2100 !important;
}

.dojoxLightboxFooter {
  text-align: center;
  color: #333;
  z-index: 2100 !important;
  font-size: 1.4em;
  margin-top:10px;
}
.dojoxLightboxGroupText {
  color: #666;
}
.LightboxNext,
.LightboxPrev,
.LightboxClose {
  float: right;
  width: 10px;
  height: 10px;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 8px;
  right: 10px;
}
.LightboxClose {
  background: url('/nrsdocroot/content/images/storefront/close.png') no-repeat center center;
}
.di_ie6 .LightboxClose {
  background: url('/nrsdocroot/content/images/storefront/close.png') no-repeat center center;
}

/* Self Clearing Floats
----------------------------------------------------------------------------------------------- */
#atg_store_content:after,
.atg_store_pickerContainer:after,
.atg_store_colorPicker:after,
.atg_store_woodFinishPicker:after,
.atg_store_sizePicker:after,
#atg_store_prodList:after,
#atg_store_productCore:after,
#atg_store_checkoutProgressContainer:after,
.atg_store_orderSubTotals:after,
.atg_store_orderTotal:after,
.atg_store_orderSummary ul li:after,
#atg_store_recommendedProducts ul:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}